<%= form_for(@animal_color) do |f| %>
  <% if @animal_color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal_color.errors.count, "error") %> prohibited this animal_color from being saved:</h2>

      <ul>
      <% @animal_color.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
