<h1>Listing animal_colors</h1>

<table>
  <tr>
    <th>Color</th>
    <th>Uuid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @animal_colors.each do |animal_color| %>
  <tr>
    <td><%= animal_color.color %></td>
    <td><%= animal_color.uuid %></td>
    <td><%= link_to 'Show', animal_color %></td>
    <td><%= link_to 'Edit', edit_animal_color_path(animal_color) %></td>
    <td><%= link_to 'Destroy', animal_color, :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Animal color', new_animal_color_path %>
