<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @animal_color.color %>
</p>

<p>
  <b>Uuid:</b>
  <%= @animal_color.uuid %>
</p>


<%= link_to 'Edit', edit_animal_color_path(@animal_color) %> |
<%= link_to 'Back', animal_colors_path %>
