<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <!-- <div class="block-flat"> -->
      <a class="btn btn-primary btn-rad btn-trans" href="/admin/foster_contacts/new"><i class="fa fa-plus tipster" title="Add New"></i><span class="hidden-xs hidden-sm"> Add New Foster Contact</span></a>
      &nbsp;
      <a class="btn btn-primary btn-rad btn-trans" href="/admin/foster_contacts.csv" id="animal_sync_button"><i class="fa fa-download tipster" title="Export"></i><span class="hidden-xs hidden-sm"> Export</span></a>
      &nbsp;
      <% unless current_user.organization.foster_form.url == "/foster_forms/original/missing.png" %>
        <%= link_to raw('<i class="fa fa-file tipster" title="Download Foster Form"></i><span class="hidden-xs hidden-sm"> Download Foster Form</span>'), current_user.organization.foster_form.url, :class => "btn btn-primary btn-rad btn-trans" %>
      <% end %>
      <a class="btn btn-primary btn-rad btn-trans pull-right" data-toggle="modal" href="#myModal" ><i class="fa fa-search tipster" title="Search"></i><span class="hidden-xs hidden-sm"> Advanced Search</span></a>
    <!-- </div> -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="block-flat">
      <table class="no-border">
        <col><col><col><col><col><col><col><col>
        <thead class="no-border">
          <tr>
            <th><%= sort_link @presenter.search, :first_name %></th>
            <th><%= sort_link @presenter.search, :last_name %></th>
            <th class="hidden-xs hidden-sm hidden-md"><%= sort_link @presenter.search, :address %></th>
            <th class="hidden-xs hidden-sm"><%= sort_link @presenter.search, :phone %></th>
            <th class="hidden-xs"><%= sort_link @presenter.search, :email %></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="no-border-x no-border-y">
          <% @presenter.foster_contacts.each do |foster_contact| %>
            <tr>
              <td><a href="/admin/foster_contacts/<%= foster_contact.id %>"><%= foster_contact.first_name %></a></td>
              <td><%= foster_contact.last_name %></td>
              <td class="hidden-xs hidden-sm hidden-md"><%= foster_contact.address %></td>
              <td class="hidden-xs hidden-sm"><%= number_to_phone(foster_contact.phone) %></td>
              <td class="hidden-xs"><%= foster_contact.email %></td>
              <td class="actions_column">
                <div class="btn-group">
                  <a class="btn tipster" href="/admin/foster_contacts/<%= foster_contact.id %>" title="View Contact"><i class="fa fa-eye"></i></a>
                  <% if can? :destroy, foster_contact %>
                    <%= link_to raw("<i class='fa fa-remove'></i>"), admin_adoption_contact_path(foster_contact),
                                :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tipster", :title => "Delete" %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= will_paginate @presenter.foster_contacts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal colored-header" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" href="#">×</a>
        <h3>Advanced Search</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <%= search_form_for @presenter.search, :url => admin_foster_contacts_path, :html => {:role => "form"} do |f| %>
          <div class="form-group">
            <%= f.label :first_name_cont %>
            <%= f.text_field :first_name_cont, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :last_name_cont %>
            <%= f.text_field :last_name_cont, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :address_cont %>
            <%= f.text_field :address_cont, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :phone_cont %>
            <%= f.text_field :phone_cont, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email_cont %>
            <%= f.text_field :email_cont, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :animals_id_eq, "Animal" %>
            <%= f.collection_select :animals_id_eq, @presenter.animal, :id, :name, :include_blank => true %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
