<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 main-app-row">
    <div class="block-flat profile-info">
      <div class="row">
        <div class="col-sm-1">
          <div class="avatar">
            <%= gravatar_image_tag("#{@foster_contact.email}", :alt => "#{@foster_contact.email}", :gravatar => { :size => 130 }, :class => "profile-avatar") %>
          </div>
        </div>
        <div class="col-sm-11">
          <div class="personal">
            <h1><%= best_in_place @foster_contact, :first_name, :type => :input, :nil => "Click me to add content!", :path => admin_foster_contact_path %> 
            <%= best_in_place @foster_contact, :last_name, :type => :input, :nil => "", :path => admin_foster_contact_path %></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="tabbable col-sm-6 col-md-6 col-lg-6 ">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#1" data-toggle="tab">Overview</a></li>
          <li><a href="#2" data-toggle="tab">Animals</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="1">
            <div class="">
              <p><strong>Phone #:</strong> <%= best_in_place @foster_contact, :phone, :nil => "Click me to add content!", :display_as => :formatted_phone, :path => admin_foster_contact_path %></p>
              <p><strong>Email:</strong> <%= best_in_place @foster_contact, :email, :nil => "Click me to add content!", :path => admin_foster_contact_path %></p>
              <p><strong>Address:</strong> <%= best_in_place @foster_contact, :address, :nil => "Click me to add content!", :path => admin_foster_contact_path %></p>
            </div>
          </div>
          <div class="tab-pane" id="2">
            <% @animals.each do |animal| %>
              <p><%= link_to raw("<i class='fa fa-remove'></i>"), "/admin/foster_animals/#{animal.id}?foster=#{@foster_contact.id}", :method => :delete, :class => "pull-right tooltip-class", :rel => "tooltip", :title => "Remove Animal"  %> <a href="/admin/animals/<%= animal.id %>-<%= animal.uuid %>"><%= animal.name %></a></p>
            <%end%>
            <hr />
            <a class="btn btn-primary btn-rad btn-trans" data-toggle="modal" href="#newAnimal" ><i class="fa fa-plus"></i> Add Animal</a>
          </div>
        </div>
      </div>
    
      <div class="col-sm-6 col-md-6 col-lg-6 map-block">
        <div id="map_canvas" style="height:409px;width:400px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal colored-header" id="newAnimal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" href="#">×</a>
        <h3>Add Animal</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <%= form_for @foster_contact.foster_animals.build(:foster_contact_id => @foster_contact.id), :url => admin_foster_animals_path do |f| %>

          <div class="form-group">
            <%= f.hidden_field :foster_contact_id %>
            <%= collection_select(:foster_animal, :animal_id, @adoptable_animals, :id, :name) %>  
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>





<% content_for :javascript_footer do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
    // Trigger the google map
    google_map('<%= @foster_contact.address %>', '<%= @foster_contact.first_name %>');
    // Trigger juggernaut
    juggernaut_listen('<%= @foster_contact.id %>', 'foster_contact', 'foster_contact');
  </script>
<% end %>