
// $("#animal_notes_list").append('<li id="note_<%= @note.id %>"><strong><%= @note.user.username %></strong> <%= @note.created_at.strftime("%a, %b %e at %l:%M") %> <br /><%= raw @note.note %></li>');
// // 
// $("#animal_notes_list").scrollTop($("#animal_notes_list")[0].scrollHeight);
// // /* Highlight the new comment */
// $('#note_<%= @note.id %>').css("background-color","#c7f464");
// $('#note_<%= @note.id %>').delay(1500).animate({backgroundColor: "#f5f5f5"}, 1000 );
// 
// // 
// // /* Reset the comment form */
// $("#new_note")[0].reset();