<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat clearfix">
			<div class="col-sm-12 col-md-12 col-lg-5">
				<%= form_for @species, :url => "/admin/species", :validate => true do |f| %>
				  <% if @species.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@species.errors.count, "error") %> prohibited this species from being saved:</h2>

				      <ul>
				      <% @species.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				    <%= f.label :name %>
				    <%= f.text_field :name, :class => "form-control" %>
						<hr />
				   <%= f.submit "Add Species", :class => "btn btn-primary submit-button" %>

				<% end %>
			</div>
		</div>
	</div>
</div>
