<h1>Listing species</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Uuid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @species.each do |species| %>
  <tr>
    <td><%= species.name %></td>
    <td><%= species.uuid %></td>
    <td><%= link_to 'Show', species %></td>
    <td><%= link_to 'Edit', edit_species_path(species) %></td>
    <td><%= link_to 'Destroy', species, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Species', new_species_path %>
