<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @species.name %>
</p>

<p>
  <b>Uuid:</b>
  <%= @species.uuid %>
</p>


<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
