!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title= yield :title || "#{@page_name} - Hospitium"
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		%meta{:content => "NONE,NOARCHIVE", :name => "robots"}
    
		- %w[base formtastic jquery.tipsy.css uniform.default.css].each do |file|
			= stylesheet_link_tag "rails_admin/theme/#{file}"
		= stylesheet_link_tag 'rails_admin/aristo/jquery-ui-1.8.7.custom.min.gz.css'

		= stylesheet_link_tag "rails_admin/theme/activo/style.min.gz.css"
		= stylesheet_link_tag "rails_admin/base"

		= head_style
		= csrf_meta_tag
		%link{:href => "http://fonts.googleapis.com/css?family=Cabin:700|Maven+Pro:400,700", :rel => "stylesheet", :type => "text/css"}
			:css
				html, p, body{
					font-family: 'Maven Pro', sans-serif !important;
					font-size:14px;
					text-shadow:none !important;
				}
				h1,h2,h3,h4,h5,h6{
					font-weight:700;
					font-family: 'Cabin', sans-serif !important;
					text-shadow:none !important;
				}
				p{
					font-size:14px;
					line-height:1.5em;
					font-weight:400;
					text-shadow:none !important;
				}
				a{
					text-shadow:none !important;
				}
				#main .block, #full-main .block{
					text-shadow:none !important;
				}
				strong{
					font-weight:700;
				}
