<div class="hero-unit">
<h2>Sign up</h2>
<div class="alert-message block-message error">
        <p><strong>Warning!</strong> This is still super beta software. Things are changing fast and you may lose data.</p>
</div>
<p>After signing up you will receive an email with a link to confirm your account.</p>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-stacked"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="clearfix"><%= f.label :username %>
  <%= f.text_field :username %></div>

	<div class="clearfix"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class="clearfix"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class="clearfix"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
	<br />
  <div><%= f.submit "Sign up", :class => "btn primary" %></div>
<% end %>
</div>
<%= render :partial => "devise/shared/links" %>
