<table class="no-border" id="animal_index">
	<col><col><col><col><col><col><col><col>
	<thead class="no-border">
		<tr>
			<th><%= sort_link search, :name, "Name", is_table_view(params) %></th>
			<th class="hidden-xs hidden-sm hidden-md"><%= sort_link search, :microchip, "Microchip", is_table_view(params) %></th>
			<th><%= sort_link search, :status_status, "Status", is_table_view(params), :class => "status" %></th>
			<th class="hidden-xs"><%= sort_link search, :animal_sex_sex, "Sex", is_table_view(params), :class => "animal_sex" %></th>
			<th class="hidden-xs hidden-sm"><%= sort_link search, :birthday, "Age", is_table_view(params) %></th>
			<th class="hidden-xs hidden-sm"><%= sort_link search, :spay_neuter_spay, "Spay / Neuter", is_table_view(params), :class => "spay_neuter" %></th>
			<th class="hidden-xs hidden-sm hidden-md"><%= sort_link search, :animal_color_color, "Color", is_table_view(params), :class => "animal_color" %></th>
			<th></th>
		</tr>
	</thead>
	<tbody class="no-border-x no-border-y">
		<%= render "animal_table_row", :animals => animals %>
	</tbody>
</table>