<div class="row-fluid">
	<div class="span12">
		<%= form_for animal, :url => admin_animals_path, :validate => true do |f| %>
		  <% if animal.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

		      <ul>
		      <% animal.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
			<div class="span4">
				<div class="clearfix">
			    <%= f.label :name %>
			    <%= f.text_field :name, :class=> "span10" %>
				</div>
				
				<div class="clearfix"v>	
			    <%= f.label :species %>
					<%= collection_select(:animal, :species_id, presenter.species, :id, :name, {}, {:class=>'span10'}) %>
				</div>

				<div class="clearfix">
			    <%= f.label :animal_sex %>
					<%= collection_select(:animal, :animal_sex_id, presenter.sex, :id, :sex, {}, {:class=>'span10'}) %>
				</div>

				<div class="clearfix">
			    <%= f.label :spay_neuter %>
			    <%= collection_select(:animal, :spay_neuter_id, presenter.spay, :id, :spay, {}, {:class=>'span10'}) %>
				</div>

				<div class="clearfix">
			    <%= f.label :color %>
					<%= collection_select(:animal, :animal_color_id, presenter.color, :id, :color, {}, {:class=>'span10'}) %>
				</div>

			    <%= f.label :birthday %>
			    <%= f.text_field :birthday, :class=> "span10" %>

				<div class="clearfix">
			    <%= f.label :biter %>
			    <%= collection_select(:animal, :biter_id, presenter.biter, :id, :value, {}, {:class=>'span10'}) %>
				</div>
			</div>
			<div class="span4">
				<div class="clearfix">
					<%= f.label :status %>
					<%= collection_select(:animal, :status_id, presenter.status, :id, :status, {}, {:class=>'span10'}) %>
				</div>

		    <%= f.label :date_of_intake %>
		    <%= f.text_field :date_of_intake, :class=> "span10" %>

		    <%= f.label :special_needs %>
		    <%= f.text_area :special_needs, :rows => 5, :class=> "span10" %>

		    <%= f.label :diet %>
		    <%= f.text_area :diet, :rows => 5, :class=> "span10" %>

		
				<%= f.label :public %>
				<%= f.check_box :public, :class => "form-inline" %>
				

			</div>
<div class="span12">
	<hr />
		    <%= f.submit "Add Animal", :class => "btn btn-primary submit-button" %>
</div>
		<% end %>
	</div>
</div>
<% content_for :javascript_footer do %>
	<script>
	$( "#animal_birthday" ).datepicker();
	$( "#animal_date_of_intake" ).datepicker();
	$( "#animal_date_of_well_check" ).datepicker();
	$( "#animal_deceased" ).datepicker();
	$.datepicker.setDefaults({
	   dateFormat: 'D, dd M yy' 
	});
	</script>
<%end%>
