<div class="col-sm-12 col-md-12 col-lg-6 animal-pics">
  <div class="gallery-cont">
    <div class="item col-sm-6 col-md-6 col-lg-6 pull-left">
      <div class="photo">
        <div class="head">
          <span class="pull-right"><a class="" data-toggle="modal" href="#image_1" ><i title="Click to add new" class="fa fa-upload tipster"></i></a></span>
        </div>
        <div class="img">
          <img src="<%= animal.image.url(:medium) %>" alt="" class="responsive-image">
          <div class="over">
            <div class="func"><a href="<%= animal.image.url %>"><i class="fa fa-link"></i></a><a class="image-zoom" data-toggle="modal" href="#image_display_1" ><i class="fa fa-search"></i></a></div>
          </div>            
        </div>
      </div>
    </div>
    <div class="item col-sm-6 col-md-6 col-lg-6 pull-left">
      <div class="photo">
        <div class="head">
          <span class="pull-right"><a class="" data-toggle="modal" href="#image_2" ><i title="Click to add new" class="fa fa-upload tipster"></i></a></span>
        </div>
        <div class="img">
          <img src="<%= animal.second_image.url(:medium) %>" alt="" class="responsive-image">
          <div class="over">
            <div class="func"><a href="<%= animal.second_image.url %>"><i class="fa fa-link"></i></a><a class="image-zoom" data-toggle="modal" href="#image_display_2" ><i class="fa fa-search"></i></a></div>
          </div>            
        </div>          
      </div>
    </div>
    <div class="item col-sm-6 col-md-6 col-lg-6 pull-left">
      <div class="photo">
        <div class="head">
          <span class="pull-right"><a class="" data-toggle="modal" href="#image_3" ><i title="Click to add new" class="fa fa-upload tipster"></i></a></span>
        </div>
        <div class="img">
          <img src="<%= animal.third_image.url(:medium) %>" alt="" >
          <div class="over">
            <div class="func"><a href="<%= animal.third_image.url %>"><i class="fa fa-link"></i></a><a class="image-zoom" data-toggle="modal" href="#image_display_3" ><i class="fa fa-search"></i></a></div>
          </div>            
        </div>
      </div>
    </div>
    <div class="item col-sm-6 col-md-6 col-lg-6 pull-left">
      <div class="photo">
        <div class="head">
          <span class="pull-right"><a class="" data-toggle="modal" href="#image_4" ><i title="Click to add new" class="fa fa-upload tipster"></i></a></span>
        </div>
        <div class="img">
          <img src="<%= animal.fourth_image.url(:medium) %>" alt="">
          <div class="over">
            <div class="func"><a href="<%= animal.fourth_image.url %>"><i class="fa fa-link"></i></a><a class="image-zoom" data-toggle="modal" href="#image_display_4" ><i class="fa fa-search"></i></a></div>
          </div>            
        </div>
      </div>
    </div>
    <div class="item col-sm-12 col-md-12 col-lg-12 video-item">
    	<% unless animal.video_embed.blank? %>
	      <div class="photo">
	        <div class="head">
	          <span class="pull-right"><a class="" data-toggle="modal" href="#video_upload" ><i title="Click to add new" class="fa fa-upload tipster"></i></a></span>
	        </div>
	        <div class="img">
	          <div class="videoWrapper">
	          	<%= raw Sanitize.clean(animal.video_embed, Sanitize::Config::YOUTUBE).sub(/http:/, 'https:') %>
	          </div>
	        </div>
	      </div>
			<%else%>
				<a class="btn btn-primary btn-rad btn-trans" data-toggle="modal" href="#video_upload" ><i class="fa fa-plus"></i> Add Video</a>
			<%end%>
    </div>
  </div>
</div>