<div class="modal" id="image_display_1" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3><%= animal.name %></h3>
	</div>
	<div class="modal-body">
		<% unless animal.image.url(:large) == "/images/large/missing.png" %>
			<img src="<%= animal.image.url(:large) %>" alt="">
		<% else %>
			<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large.jpg" alt="">
		<%end%>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<div class="modal" id="image_display_2" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3><%= animal.name %></h3>
	</div>
	<div class="modal-body">
		<% unless animal.second_image.url(:large) == "/second_images/large/missing.png" %>
			<img height=180 width=260 src="<%= animal.second_image.url(:large) %>" alt="">
		<% else %>
			<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large.jpg" alt="">
		<%end%>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<div class="modal" id="image_display_3" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3><%= animal.name %></h3>
	</div>
	<div class="modal-body">
		<% unless animal.third_image.url(:large) == "/third_images/large/missing.png" %>
			<img src="<%= animal.third_image.url(:large) %>" alt="">
		<% else %>
			<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large.jpg" alt="">
		<%end%>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<div class="modal" id="image_display_4" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3><%= animal.name %></h3>
	</div>
	<div class="modal-body">
		<% unless animal.fourth_image.url(:large) == "/fourth_images/large/missing.png" %>
			<img src="<%= animal.fourth_image.url(:large) %>" alt="">
		<% else %>
			<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large.jpg" alt="">
		<%end%>
		<img src="<%= animal.fourth_image.url(:large) %>" alt="">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>