<div class="modal colored-header" id="image_display_1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3><%= animal.name %></h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <center>
  				<% unless animal.image.url(:large) == "https://d4uktpxr9m70.cloudfront.net/images/no-animal-retina.png" %>
  					<img src="<%= animal.image.url(:large) %>" alt="" width='530px' >
  				<% else %>
  					<%= image_tag 'no-animal-large-retina.png', width: '530px' %>
  				<%end%>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal colored-header" id="image_display_2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3><%= animal.name %></h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <center>
  				<% unless animal.second_image.url(:large) == "https://d4uktpxr9m70.cloudfront.net/images/no-animal-retina.png" %>
  					<img src="<%= animal.second_image.url(:large) %>" alt="" width='530px'>
  				<% else %>
  					<%= image_tag 'no-animal-large-retina.png', width: '530px' %>
  				<%end%>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal colored-header" id="image_display_3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3><%= animal.name %></h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <center>
  				<% unless animal.third_image.url(:large) == "https://d4uktpxr9m70.cloudfront.net/images/no-animal-retina.png" %>
  					<img src="<%= animal.third_image.url(:large) %>" alt="" width='530px'>
  				<% else %>
  					<!-- <img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt=""> -->
            <%= image_tag 'no-animal-large-retina.png', width: '530px' %>
  				<%end%>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal colored-header" id="image_display_4" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3><%= animal.name %></h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <center>
  				<% unless animal.fourth_image.url(:large) == "https://d4uktpxr9m70.cloudfront.net/images/no-animal-retina.png" %>
  					<img src="<%= animal.fourth_image.url(:large) %>" alt="" width='530px'>
  				<% else %>
  					<%= image_tag 'no-animal-large-retina.png', width: '530px' %>
  				<%end%>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
