<%= form_tag("/wordpress_accounts/send_blog_post", :method => "post", :class => "form-inline float-form") do %>
	<input name="animal_uuid" type="hidden" value="<%= animal.uuid %>">
	<input name="animal_id" type="hidden" value="<%= animal.id %>">
	<input name="animal_name" type="hidden" value="<%= animal.name %>">
	<input name="animal_picture" type="hidden" value="https://s3.amazonaws.com/hospitium-static/app/public/system/images/116/medium/Nevada.JPG?1320621202">
	<button class="btn" type="submit"><i class="icon-share"></i> Send to Wordpress</button>
<%end%>
<%= form_tag("/facebook_accounts/send_wall_post", :method => "post", :class => "form-inline float-form") do %>
	<input name="animal_uuid" type="hidden" value="<%= animal.uuid %>">
	<input name="animal_id" type="hidden" value="<%= animal.id %>">
	<input name="animal_name" type="hidden" value="<%= animal.name %>">
	<button class="btn" type="submit"><i class="icon-share"></i> Send to Facebook</button>
<%end%>
<%= form_tag("/twitter_accounts/send_tweet", :method => "post", :class => "form-inline float-form") do %>
	<input name="animal_uuid" type="hidden" value="<%= animal.uuid %>">
	<input name="animal_id" type="hidden" value="<%= animal.id %>">
	<input name="animal_name" type="hidden" value="<%= animal.name %>">
	<button class="btn" type="submit"><i class="icon-share"></i> Send to Twitter</button>
<%end%>