<table>
	<thead>
		<th></th>
		<th>Name</th>
		<th>Sex</th>
		<th>Species</th>
		<th>Spay/Neuter</th>
		<th>Biter</th>
		<th>Color</th>
		<th>Birthday</th>
	</thead>
	<tbody>
		<tr>
			<td rowspan="3">
				<img src="<%= @animal.image.url(:thumb) %>" alt="">
			</td>
			<td>
				<%= @animal.name %>
			</td>
			<td>
				<%= @animal.animal_sex.sex %>
			</td>
			<td>
				<%= @animal.species.name %>
			</td>
			<td>
				<%= @animal.spay_neuter.spay %>
			</td>
			<td>
				<%= @animal.biter.value %>
			</td>
			<td>
				<%= @animal.animal_color.color %>
			</td>
			<td>
				<%= @animal.birthday %>
			</td>
		</tr>
		<tr>
			<td colspan="7" style="text-align:center;font-weight:bold">Special Needs</td>
		</tr>
		<tr>
			<td colspan="7">
				<%= markdown(@animal.special_needs) %>
			</td>
		<tr>
	</tbody>
</table>
<!-- <table>
	<thead>
		<th>Special Needs</th>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= markdown(@animal.special_needs) %>
			</td>
		<tr>
	</tbody>
</table> -->
<table>
	<thead>
		<th>Comments</th>
	</thead>
	<tbody>
		<tr>
			<td style="height:250px;">
			</td>
		</tr>
		<tr>
			<td>
				<%= @animal.organization.name %>
			</td>
		<tr>
	</tbody>
</table>