<table>
	<thead>
		<th></th>
		<th>Name</th>
		<th>Sex</th>
		<th>Species</th>
		<th>Spay/Neuter</th>
		<th>Biter</th>
		<th>Color</th>
		<th>Birthday</th>
	</thead>
	<tbody>
		<tr>
			<td rowspan="3">
				<img src="<%= @animal.image.url(:thumb) %>" alt="">
			</td>
			<td>
				<%= @animal.name %>
			</td>
			<td>
				<%= @animal.sex %>
			</td>
			<td>
				<%= @animal.species_name %>
			</td>
			<td>
				<%= @animal.spay %>
			</td>
			<td>
				<%= @animal.biter_value %>
			</td>
			<td>
				<%= @animal.color %>
			</td>
			<td>
				<%= @animal.birthday.strftime("%b %e %Y") unless @animal.birthday.blank? %>
			</td>
		</tr>
		<tr>
			<td colspan="7" style="text-align:center;font-weight:bold">Special Needs</td>
		</tr>
		<tr>
			<td colspan="7">
				<%= markdown(@animal.special_needs) unless @animal.special_needs.blank? %>
			</td>
		</tr>
		<tr>
			<td colspan="8" style="text-align:center;font-weight:bold">Comments</td>
		</tr>
		<tr>
			<td colspan="8" style="height:50px;">
			</td>
		</tr>
		<tr>
			<td colspan="8">
				<%= @animal.organization_name %>
			</td>
		<tr>
	</tbody>
</table>