<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<!-- <div class="well animal-index-well"> -->
			<!-- <div class="row-fluid animal-index-action-row"> -->
				<!-- <div class="col-sm-7 col-md-7 col-lg-7"> -->
					<a class="btn btn-primary btn-rad btn-trans" href="/admin/animals/new"><i class="fa fa-plus"></i> Add New Animal</a>
					&nbsp;
					<a class="btn btn-primary btn-rad btn-trans" href="/send-to-adopt-a-pet" id="animal_sync_button"><i class="fa fa-share"></i> Sync Public To Adopt-A-Pet</a>
					&nbsp;
					<a class="btn btn-primary btn-rad btn-trans" href="/admin/animals.csv" id="animal_sync_button"><i class="fa fa-download"></i> Export</a>
<!-- 				</div> -->
				<!-- <div class="span1"> &nbsp; </div> -->
				<!-- <div class="col-sm-5 col-md-5 col-lg-5"> -->
					<div class="pull-right animal-index-action-row">
						<%= link_to raw(archived_button_text(params)), url_for(archived_view_button(params)),  :class => "btn btn-primary btn-rad btn-trans" %>
						&nbsp;
						<%= link_to raw(table_button_text(params)), url_for(table_view_button(params)),  :class => "btn btn-primary btn-rad btn-trans" %>
						&nbsp;
						<a class="btn btn-primary btn-rad btn-trans" data-toggle="modal" href="#myModal" ><i class="fa fa-search"></i> Advanced Search</a>
					</div>
				</div>
			<!-- </div> -->
		</div>
	</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<%- if params[:table_view]%>
			<div class="block-flat">
				<%= render "animal_table", :animals => @animals, :search => @search %>
				<%= will_paginate @animals, renderer: BootstrapPagination::Rails %>
			</div>
		<% else %>
			<ul class="thumbnails" id="animal_index">
					<%= render "animal_row", :animals => @animals %>
			</ul>
			<%= will_paginate @animals, :id => "pagination-container" %>
		<% end %>
	</div>
</div>

<%= render 'search', :search => @search, :presenter => @presenter %>

<% content_for :javascript_footer do %>
	<script>		
		$(function(){
			var $container = $('#animal_index');
			$container.imagesLoaded(function(){
				$container.masonry({
					itemSelector: '.animal-card',
				});
			});

			$('#animal_index').infinitescroll({
				navSelector  : '#pagination-container',    // selector for the paged navigation 
				nextSelector : '.next_page > a',  // selector for the NEXT link (to page 2)
				itemSelector : '.animal-card',     // selector for all items you'll retrieve
				loading: {
					finishedMsg: 'No more animals to load.',
					msgText: "Loading next set of animals...",
					img: 'https://d4uktpxr9m70.cloudfront.net/images/scroll-loader.gif'
				}
			},
			// trigger Masonry as a callback
			function( newElements ) {
				// hide new items while they are loading
				var $newElems = $( newElements ).css({ opacity: 0 });
				// ensure that images load before adding to masonry layout
				$newElems.imagesLoaded(function(){
					// show elems now they're ready
					$newElems.animate({ opacity: 1 });
					$container.masonry( 'appended', $newElems, true ); 
				});
			}
		);
	});
	</script>
<%end%>
