<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<a class="btn" href="/admin/animals/new"><i class="icon-plus"></i> Add New Animal</a>
					&nbsp;
					<a class="btn" href="/send-to-adopt-a-pet" id="animal_sync_button"><i class="icon-share"></i> Sync Public To Adopt-A-Pet</a>
					&nbsp;
					<a class="btn" href="/admin/animals.xls" id="animal_sync_button"><i class="icon-download"></i> Export</a>
				</div>
				<div class="span1"> &nbsp; </div>
				<div class="span5 pull-right">
				<a class="btn pull-right" data-toggle="modal" href="#myModal" ><i class="icon-search"></i> Advanced Search</a>
				</div>
			</div>
		</div>
		<table class="table table-striped table-bordered" id="animal_index">
			<col><col><col><col><col><col><col><col>
			<thead>
				<tr>
					<th><%= sort_link @search, :name %></th>
					<th><%= sort_link @search, :microchip %></th>
					<th><%= sort_link @search, :status_status, "Status", {}, :class => "status" %></th>
					<th><%= sort_link @search, :animal_sex_sex, "Sex", {}, :class => "animal_sex" %></th>
					<th><%= sort_link @search, :birthday, "Age" %></th>
					<th><%= sort_link @search, :spay_neuter_spay, "Spay / Neuter", {}, :class => "spay_neuter" %></th>
					<th><%= sort_link @search, :animal_color_color, "Color", {}, :class => "animal_color" %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @animals.each do |animal| %>
					<tr>
						<td><%= render 'index_thumbnail', :animal => animal %></td>
						<td><%= animal.microchip unless animal.microchip.blank? %></td>
						<td><%= animal.status.status %></td>
						<td><%= animal.sex unless animal.animal_sex.blank? %></td>
						<td><%= calculate_animal_age(animal.birthday) unless animal.birthday.blank? %></td>
						<td><%= animal.spay unless animal.spay_neuter.blank? %></td>
						<td><%= animal.color %></td>
						<td class="actions_column">
							<div class="btn-group">
								<a class="btn tooltip-class" href="/admin/animals/<%= animal.id %>-<%= animal.uuid %>" rel="tooltip" title="View Animal"><i class="icon-eye-open"></i></a>
								<a class="btn tooltip-class duplicate-button" href="/admin/animals/<%= animal.id %>-<%= animal.uuid %>/duplicate" rel="tooltip" title="Duplicate Animal"><i class="icon-plus-sign"></i></a>
								<% unless current_user.permissions.first.role_id == 3 %>
									<%= link_to raw("<i class='icon-remove'></i>"), admin_animal_path(animal),
									            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tooltip-class", :rel => "tooltip", :title => "Delete Animal" %>
								<% end %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @animals %>
	</div>
</div>



<%= render 'search', :search => @search, :presenter => @presenter %>


