<div class="row-fluid">
	<div class="span12 main-app-row">
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<h1><%= best_in_place @animal, :name, :type => :input, :nil => "Click me to add content!", :path => admin_animal_path %></h1>
					<span class="public_animal_check"><%= best_in_place @animal, :public, :type => :select, :collection => [[0, "Not public"], [1, "Public"]], :path => admin_animal_path %></span>
				</div>
				<div class="span6 pull-right share-animal-buttons">
					<% if @animal.public == 1 %>
						<%= render "share_animal", :animal => @animal %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="tabbable span4 animal-tabs">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Overview</a></li>
					<li><a href="#2" data-toggle="tab">Details</a></li>
					<li><a href="#3" data-toggle="tab">History</a></li>
					<li><a href="#4" data-toggle="tab">Weight</a></li>
					<li><a href="#5" data-toggle="tab">Notes</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newStatus" >Status</a>:</strong> <%= best_in_place @animal, :status_id, :type => :select, collection: @presenter.statuses, :nil => @animal.status.status, :path => admin_animal_path %>
							</p>
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class model-class" data-toggle="modal" href="#newSpecies" >Species</a>:</strong> <%= best_in_place @animal, :species_id, :type => :select, collection: @presenter.species, :nil => @animal.species_name, :path => admin_animal_path %></p>
							<p><strong>Sex:</strong> <%= best_in_place @animal, :animal_sex_id, :type => :select, collection: [["1", "Male"], ["2", "Female"], ["3", "Unknown"]], :path => admin_animal_path, :nil => @animal.sex unless @animal.animal_sex.blank? %></p>
							<p><strong>Age:</strong> <%= best_in_place @animal, :birthday, :type => :date, :display_as => :calculate_animal_age, :nil => "Click me to add content!", :path => admin_animal_path %></p>
							<p><strong>Spay/Neuter:</strong> <%= best_in_place @animal, :spay_neuter_id, :type => :select, collection: [["1", "No"], ["2", "Yes"], ["3", "Unknown"]], :path => admin_animal_path, :nil => @animal.spay unless @animal.spay_neuter.blank? %></p>
							<p><strong>Biter:</strong> <%= best_in_place @animal, :biter_id, :type => :select, collection: [["1", "No"], ["2", "Yes"], ["3", "Unknown"]], :path => admin_animal_path, :nil => @animal.biter_value unless @animal.biter.blank? %></p>
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newColor" >Color</a>:</strong> <%= best_in_place @animal, :animal_color_id, :type => :select, collection: @presenter.colors, :nil => @animal.color, :path => admin_animal_path %></p>
							<p><strong>Special Needs:</strong> <%= best_in_place @animal, :special_needs, type: :textarea, :nil => "Click me to add content!", :path => admin_animal_path %></p>
						</div>
					</div>
					<div class="tab-pane" id="2">
						<p><strong>Microchip:</strong> <%= best_in_place @animal, :microchip, :type => :input, :nil => "Click me to add content!", :path => admin_animal_path %></p>
						<%unless @animal.shelter.blank?%>
							<%@sheltername = @animal.shelter_name %>
						<%else%>
							<%@sheltername = "Click me to add content!" %>
						<%end%>
						<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newShelter" >Shelter</a>:</strong> <%= best_in_place @animal, :shelter_id, :type => :select, collection: @presenter.shelters, :nil => @sheltername, :path => admin_animal_path %></p>
						<p><strong>Diet:</strong> <%= best_in_place @animal, :diet, :type => :textarea, :nil => "Click me to add content!", :path => admin_animal_path %></p>
						<p><strong>Deceased:</strong> <%= best_in_place @animal, :deceased, :type => :date, :display_as => :formatted_deceased_date, :nil => "Click me to add content!", :path => admin_animal_path %></p>
						<p><strong>Deceased Reason</strong>: <%= best_in_place @animal, :deceased_reason, :type => :textarea, :nil => "Click me to add content!", :path => admin_animal_path %></p>
					</div>
					<div class="tab-pane" id="3">
						<p><strong>Previous Name:</strong> <%= best_in_place @animal, :previous_name, :type => :input, :nil => "Click me to add content!", :path => admin_animal_path %></p>
						<p><strong>Date of Intake:</strong> <%= best_in_place @animal, :date_of_intake, :type => :date, :display_as => :formatted_intake_date, :path => admin_animal_path %></p>
						<p><strong>Date of Well Check:</strong> <%= best_in_place @animal, :date_of_well_check, :nil => "Click me to add content!", :type => :date, :display_as => :formatted_well_date, :path => admin_animal_path %></p>
						<p><strong>Adopted Date:</strong> <%= best_in_place @animal, :adopted_date, :nil => "Click me to add content!", :type => :date, :display_as => :formatted_adopted_date, :path => admin_animal_path %></p>
					</div>
					<div class="tab-pane" id="4">
						<div class="">
							<div id="chart1" style="height: 300px; width: 100%; position: relative; " class="jqplot-target"></div>
							<hr />
							<a class="btn" data-toggle="modal" href="#newWeight" ><i class="icon-plus"></i> Add New Weight</a>
						</div>
					</div>
					<div class="tab-pane" id="5">
						<ul class="unstyled" id="animal_notes_list">
							<%unless @animal.notes.blank?%>
									<%@presenter.notes.each do |note| %>
										<li><%= link_to raw("<i class='icon-remove'></i>"), admin_note_path(note), :method => :delete, :class => "pull-right tooltip-class", :rel => "tooltip", :title => "Delete Note"  %><strong><%= note.username %></strong> <%= note.created_at.strftime("%a, %b %e at %l:%M") %> <br /><%= raw note.note %></li>
									<%end%>
							<%end%>
						</ul>
						<hr />
						<h2>Say something!</h2>
						<%= form_for Note.new, :url => admin_notes_path, :remote => true, :html => {:id => "new_note_#{current_user.id}"} do |f| %>
							<%= f.text_area :note, :rows => 5, :style => "width:95%;" %>
							<%= f.hidden_field :animal_id, :value => @animal.id %><br />
							<%= f.submit "Add Note", :class => "btn btn-primary submit-button" %>
						<% end %>
					</div>
				</div>
				<br />
				<a class="btn" href="/admin/animals/<%= @animal.id %>-<%= @animal.uuid %>/cage_card"><i class="icon-print"></i> Cage Card</a>
				<a class="btn" href="/admin/animals/<%= @animal.id %>-<%= @animal.uuid %>/qr_code"><i class="icon-print"></i> QR Code</a>
			</div>
			
			<%= render "media_gallery", :animal => @animal %>
		</div>
	</div>
</div>




<%= render "modal_forms", :animal => @animal %>
	
<%= render "modal_images", :animal => @animal %>

<div id="animal_weights_holder" data-animal_weights='<%= raw(@presenter.animal_weights.to_json) %>'></div>
<div id="animal_holder" data-animal_id='<%= raw @animal.id %>' data-animal_uuid='<%= raw @animal.uuid %>'></div>



<% set_meta_description("Adopt #{@animal.name} from #{@animal.organization_name}") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt #{@animal.name}") %>


<% if request.headers['X-PJAX'] %>
	<title><%= yield (:title) %></title>
	<%= render "animal_pjax_min_js", :locals => { :animal => @animal, :animal_weights => @presenter.animal_weights } %>
<%else%>
	<% content_for :javascript_footer do %>
		<% content_for :title, "Adopt #{@animal.name} - Hospitium" %>
		<%= render "animal_pjax_min_js", :locals => { :animal => @animal, :animal_weights => @presenter.animal_weights } %>
	<%end%>
<%end%>