<div class="row-fluid">
	<div class="span12 main-app-row">
		<% if notice.blank? %>

		<% else %>
			<div class="alert alert-info"><a class="close" data-dismiss="alert" href="#">&times;</a> <%= notice %></div>
		<% end %>
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<h1><%= best_in_place @animal, :name, :type => :input, :nil => "Click me to add content!" %></h1>
					<span class="public_animal_check"><%= best_in_place @animal, :public, :type => :select, :collection => [[0, "Not public"], [1, "Public"]] %></span>
				</div>
				<div class="span6 pull-right share-animal-buttons">
					<%= form_tag("/wordpress_accounts/send_blog_post", :method => "post", :class => "form-inline float-form") do %>
						<input name="animal_uuid" type="hidden" value="<%= @animal.uuid %>">
						<input name="animal_id" type="hidden" value="<%= @animal.id %>">
						<input name="animal_name" type="hidden" value="<%= @animal.name %>">
						<input name="animal_picture" type="hidden" value="https://s3.amazonaws.com/hospitium-static/app/public/system/images/116/medium/Nevada.JPG?1320621202">
						<button class="btn" type="submit"><i class="icon-share"></i> Send to Wordpress</button>
					<%end%>
					<%= form_tag("/facebook_accounts/send_wall_post", :method => "post", :class => "form-inline float-form") do %>
						<input name="animal_uuid" type="hidden" value="<%= @animal.uuid %>">
						<input name="animal_id" type="hidden" value="<%= @animal.id %>">
						<input name="animal_name" type="hidden" value="<%= @animal.name %>">
						<button class="btn" type="submit"><i class="icon-share"></i> Send to Facebook</button>
					<%end%>
					<%= form_tag("/twitter_accounts/send_tweet", :method => "post", :class => "form-inline float-form") do %>
						<input name="animal_uuid" type="hidden" value="<%= @animal.uuid %>">
						<input name="animal_id" type="hidden" value="<%= @animal.id %>">
						<input name="animal_name" type="hidden" value="<%= @animal.name %>">
						<button class="btn" type="submit"><i class="icon-share"></i> Send to Twitter</button>
					<%end%>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="tabbable span4 animal-tabs">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Overview</a></li>
					<li><a href="#2" data-toggle="tab">Details</a></li>
					<li><a href="#3" data-toggle="tab">History</a></li>
					<li><a href="#4" data-toggle="tab">Weight</a></li>
					<li><a href="#5" data-toggle="tab">Notes</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newStatus" >Status</a>:</strong> <%= best_in_place @animal, :status_id, :type => :select, collection: @statuses, :nil => @animal.status.status %>
							</p>
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class model-class" data-toggle="modal" href="#newSpecies" >Species</a>:</strong> <%= best_in_place @animal, :species_id, :type => :select, collection: @species, :nil => @animal.species.name %></p>
							<p><strong>Sex:</strong> <%= best_in_place @animal, :animal_sex_id, :type => :select, collection: [["1", "Male"], ["2", "Female"], ["3", "Unknown"]], :nil => @animal.animal_sex.sex unless @animal.animal_sex.blank? %></p>
							<p><strong>Age:</strong> <%= best_in_place @animal, :birthday, :type => :date, :display_as => :calculate_animal_age, :nil => "Click me to add content!" %></p>
							<p><strong>Spay/Neuter:</strong> <%= best_in_place @animal, :spay_neuter_id, :type => :select, collection: [["1", "No"], ["2", "Yes"], ["3", "Unknown"]], :nil => @animal.spay_neuter.spay unless @animal.spay_neuter.blank? %></p>
							<p><strong>Biter:</strong> <%= best_in_place @animal, :biter_id, :type => :select, collection: [["1", "No"], ["2", "Yes"], ["3", "Unknown"]], :nil => @animal.biter.value unless @animal.biter.blank? %></p>
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newColor" >Color</a>:</strong> <%= best_in_place @animal, :animal_color_id, :type => :select, collection: @colors, :nil => @animal.animal_color.color %></p>
							<p><strong>Special Needs:</strong> <%= best_in_place @animal, :special_needs, type: :textarea, :nil => "Click me to add content!" %></p>
						</div>
					</div>
					<div class="tab-pane" id="2">
						<%unless @animal.shelter.blank?%>
							<%@sheltername = @animal.shelter.name %>
						<%else%>
							<%@sheltername = "Click me to add content!" %>
						<%end%>
						<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newShelter" >Shelter</a>:</strong> <%= best_in_place @animal, :shelter_id, :type => :select, collection: @shelters, :nil => @sheltername %></p>
						<p><strong>Diet:</strong> <%= best_in_place @animal, :diet, :type => :textarea, :nil => "Click me to add content!" %></p>
						<p><strong>Deceased:</strong> <%= best_in_place @animal, :deceased, :type => :date, :display_as => :formatted_deceased_date, :nil => "Click me to add content!" %></p>
						<p><strong>Deceased Reason</strong>: <%= best_in_place @animal, :deceased_reason, :type => :textarea, :nil => "Click me to add content!" %></p>
					</div>
					<div class="tab-pane" id="3">
						<p><strong>Previous Name:</strong> <%= best_in_place @animal, :previous_name, :type => :input, :nil => "Click me to add content!" %></p>
						<p><strong>Date of Intake:</strong> <%= best_in_place @animal, :date_of_intake, :type => :date, :display_as => :formatted_intake_date %></p>
						<p><strong>Date of Well Check:</strong> <%= best_in_place @animal, :date_of_well_check, :nil => "Click me to add content!", :type => :date, :display_as => :formatted_well_date %></p>
					</div>
					<div class="tab-pane" id="4">
						<div class="">
							<div id="chart1" style="height: 300px; width: 100%; position: relative; " class="jqplot-target"></div>
							<hr />
							<a class="btn" data-toggle="modal" href="#newWeight" ><i class="icon-plus"></i> Add New Weight</a>
						</div>
					</div>
					<div class="tab-pane" id="5">
						<p>Notes coming soon.</p>
					</div>
				</div>
			</div>
		
			<div class="span8 pull-right animal-pics">
				<ul class="thumbnails">
						<li class="span4 pull-right animal_thumb">
							<a class="new_link image_new_button" data-toggle="modal" href="#image_1" ><i rel="tooltip" title="Click to add new" class="icon-upload tooltip-class"></i></a>
							<a class="thumbnail" data-toggle="modal" href="#image_display_1" >
								<% unless @animal.image.url(:medium) == "/images/medium/missing.png" %>
									<img height=180 width=260 src="<%= @animal.image.url(:medium) %>" alt="">
								<% else %>
									<img height=180 width=260 src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" alt="">
								<%end%>
							</a>
						</li>
						<li class="span4 pull-right animal_thumb">
							<a class="new_link image_new_button" data-toggle="modal" href="#image_2" ><i rel="tooltip" title="Click to add new" class="icon-upload tooltip-class"></i></a>
							<a class="thumbnail" data-toggle="modal" href="#image_display_2" >
								<% unless @animal.second_image.url(:medium) == "/second_images/medium/missing.png" %>
									<img height=180 width=260 src="<%= @animal.second_image.url(:medium) %>" alt="">
								<% else %>
									<img height=180 width=260 src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" alt="">
								<%end%>
							</a>
						</li>
						<li class="span4 pull-right animal_thumb">
							<a class="new_link image_new_button" data-toggle="modal" href="#image_3" ><i rel="tooltip" title="Click to add new" class="icon-upload tooltip-class"></i></a>
							<a class="thumbnail" data-toggle="modal" href="#image_display_3" >
								<% unless @animal.third_image.url(:medium) == "/third_images/medium/missing.png" %>
									<img height=180 width=260 src="<%= @animal.third_image.url(:medium) %>" alt="">
								<% else %>
									<img height=180 width=260 src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" alt="">
								<%end%>
							</a>
						</li>
						<li class="span4 pull-right animal_thumb">
							<a class="new_link image_new_button" data-toggle="modal" href="#image_4" ><i rel="tooltip" title="Click to add new" class="icon-upload tooltip-class"></i></a>
							<a class="thumbnail" data-toggle="modal" href="#image_display_4" >
								<% unless @animal.fourth_image.url(:medium) == "/fourth_images/medium/missing.png" %>
									<img height=180 width=260 src="<%= @animal.fourth_image.url(:medium) %>" alt="">
								<% else %>
									<img height=180 width=260 src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" alt="">
								<%end%>
							</a>
						</li>
				</ul>
			</div>
		</div>
	</div>
</div>




<%= render :partial => "modal_forms", :locals => { :status => @status, 
	:species_model => @species_model, 
	:animal_color_model => @animal_color_model,
	:shelter_model => @shelter_model,
	:animal_weight_model => @animal_weight_model,
	:animal => @animal } %>
	
<%= render :partial => "modal_images", :locals => { :animal => @animal } %>

<!-- <div id="chart1" style="height: 300px; width: 100%; position: relative; " class="jqplot-target"></div> -->





<% set_meta_description("Adopt #{@animal.name} from #{@animal.organization.name}") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt #{@animal.name}") %>


<% if request.headers['X-PJAX'] %>
	<title><%= yield (:title) %></title>
	<%= render :partial => "animal_pjax_js", :locals => { :animal => @animal, :animal_weights => @animal_weights } %>
<%else%>
	<% content_for :javascript_footer do %>
		<% content_for :title, "Adopt #{@animal.name} - Hospitium" %>
		<%= render :partial => "animal_pjax_js", :locals => { :animal => @animal, :animal_weights => @animal_weights } %>
	<%end%>
<%end%>