<div class="row-fluid">
	<div class="span12">
		<% if notice.blank? %>

		<% else %>
			<div class="alert alert-info"><a class="close" data-dismiss="alert" href="#">&times;</a> <%= notice %></div>
		<% end %>
		<div class="page-header">
			<h1><%= best_in_place @animal, :name, :type => :input, :nil => "Click me to add content!" %></h1>
		</div>
		<div class="row-fluid">
			<div class="tabbable span4">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Overview</a></li>
					<li><a href="#2" data-toggle="tab">Details</a></li>
					<li><a href="#3" data-toggle="tab">History</a></li>
					<li><a href="#4" data-toggle="tab">Weight</a></li>
					<li><a href="#5" data-toggle="tab">Notes</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<p><strong>Status:</strong> <%= best_in_place @animal, :status_id, :type => :select, collection: @b, :nil => @animal.status.status %>
							</p>
							<p><strong>Species:</strong> <%= @animal.species.name %></p>
							<p><strong>Sex:</strong> <%= best_in_place @animal, :animal_sex_id, :type => :select, collection: [["1", "Male"], ["2", "Female"], ["3", "Unknown"]], :nil => @animal.animal_sex.sex unless @animal.animal_sex.blank? %></p>
							<p><strong>Age:</strong> <%= best_in_place @animal, :birthday, :type => :date, :display_as => :calculate_animal_age %></p>
							<p><strong>Spay/Neuter:</strong> <%= best_in_place @animal, :spay_neuter_id, :type => :select, collection: [["1", "No"], ["2", "Yes"], ["3", "Unknown"]], :nil => @animal.spay_neuter.spay unless @animal.spay_neuter.blank? %></p>
							<p><strong>Color:</strong> <%= @animal.animal_color.color %></p>
							<p><strong>Special Needs:</strong> <%= best_in_place @animal, :special_needs, type: :textarea %></p>
						</div>
					</div>
					<div class="tab-pane" id="2">
						<p><strong>Shelter:</strong> <%= @animal.shelter.name unless @animal.shelter.blank? %></p>
						<p><strong>Diet:</strong> <%= @animal.diet unless @animal.diet.blank? %></p>
						<p><strong>Deceased:</strong> <%= @animal.deceased unless @animal.deceased.blank? %></p>
						<p><strong>Deceased Reason</strong>: <%= @animal.deceased_reason unless @animal.deceased_reason.blank? %></p>
					</div>
					<div class="tab-pane" id="3">
						<p><strong>Date of Intake:</strong> <%= @animal.date_of_intake unless @animal.date_of_intake.blank? %></p>
						<p><strong>Date of Well Check:</strong> <%= @animal.date_of_well_check unless @animal.date_of_well_check.blank? %></p>
					</div>
					<div class="tab-pane" id="4">
						<p><strong>Date of Intake:</strong> <%= @animal.date_of_intake unless @animal.date_of_intake.blank? %></p>
						<p><strong>Date of Well Check:</strong> <%= @animal.date_of_well_check unless @animal.date_of_well_check.blank? %></p>
					</div>
					<div class="tab-pane" id="5">
						<p><strong>Date of Intake:</strong> <%= @animal.date_of_intake unless @animal.date_of_intake.blank? %></p>
						<p><strong>Date of Well Check:</strong> <%= @animal.date_of_well_check unless @animal.date_of_well_check.blank? %></p>
					</div>
				</div>
			</div>
		
			<div class="span8 pull-right">
				<ul class="thumbnails">
						<li class="span4 pull-right">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/260x180" alt="">
							</a>
						</li>
						<li class="span4 pull-right">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/260x180" alt="">
							</a>
						</li>
						<li class="span4 pull-right">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/260x180" alt="">
							</a>
						</li>
						<li class="span4 pull-right">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/260x180" alt="">
							</a>
						</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<%= link_to 'Back', admin_animals_path, :class => "js-pjax" %>

<% set_meta_description("Adopt #{@animal.name} from #{@animal.organization.name}") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt #{@animal.name}") %>
<% content_for :title, "Adopt #{@animal.name} - Hospitium" %>
<title><%= yield (:title) %></title>


<% content_for :head do %>
	<link rel="stylesheet" type="text/css" href="https://d4uktpxr9m70.cloudfront.net/stylesheets/shadowbox.css">
<% end %>

<% content_for :javascript_footer do %>
	<script type="text/javascript" src="https://d4uktpxr9m70.cloudfront.net/javascripts/shadowbox.js"></script>
	<script type="text/javascript">
		Shadowbox.init();
	</script>
<% end %>
