<div class="row-fluid">
	<div class="span12">
		<% if notice.blank? %>

		<% else %>
			<div class="alert alert-info"><a class="close" data-dismiss="alert" href="#">&times;</a> <%= notice %></div>
		<% end %>
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<h1><%= best_in_place @animal, :name, :type => :input, :nil => "Click me to add content!" %></h1>
				</div>
				<div class="span6 pull-right">
					<%= form_tag("/twitter_accounts/send_tweet", :method => "post", :class => "form-inline float-form") do %>
						<input name="animal_uuid" type="hidden" value="<%= @animal.uuid %>">
						<input name="animal_id" type="hidden" value="<%= @animal.id %>">
						<input name="animal_name" type="hidden" value="<%= @animal.name %>">
						<button class="btn" type="submit"><i class="icon-share"></i> Send to Twitter</button>
					<%end%>
					<%= form_tag("/facebook_accounts/send_wall_post", :method => "post", :class => "form-inline float-form") do %>
						<input name="animal_uuid" type="hidden" value="<%= @animal.uuid %>">
						<input name="animal_id" type="hidden" value="<%= @animal.id %>">
						<input name="animal_name" type="hidden" value="<%= @animal.name %>">
						<button class="btn" type="submit"><i class="icon-share"></i> Send to Facebook</button>
					<%end%>
					<%= form_tag("/wordpress_accounts/send_blog_post", :method => "post", :class => "form-inline float-form") do %>
						<input name="animal_uuid" type="hidden" value="<%= @animal.uuid %>">
						<input name="animal_id" type="hidden" value="<%= @animal.id %>">
						<input name="animal_name" type="hidden" value="<%= @animal.name %>">
						<input name="animal_picture" type="hidden" value="https://s3.amazonaws.com/hospitium-static/app/public/system/images/116/medium/Nevada.JPG?1320621202">
						<button class="btn" type="submit"><i class="icon-share"></i> Send to Wordpress</button>
					<%end%>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="tabbable span4">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Overview</a></li>
					<li><a href="#2" data-toggle="tab">Details</a></li>
					<li><a href="#3" data-toggle="tab">History</a></li>
					<li><a href="#4" data-toggle="tab">Weight</a></li>
					<li><a href="#5" data-toggle="tab">Notes</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newStatus" >Status</a>:</strong> <%= best_in_place @animal, :status_id, :type => :select, collection: @statuses, :nil => @animal.status.status %>
							</p>
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newSpecies" >Species</a>:</strong> <%= best_in_place @animal, :species_id, :type => :select, collection: @species, :nil => @animal.species.name %></p>
							<p><strong>Sex:</strong> <%= best_in_place @animal, :animal_sex_id, :type => :select, collection: [["1", "Male"], ["2", "Female"], ["3", "Unknown"]], :nil => @animal.animal_sex.sex unless @animal.animal_sex.blank? %></p>
							<p><strong>Age:</strong> <%= best_in_place @animal, :birthday, :type => :date, :display_as => :calculate_animal_age %></p>
							<p><strong>Spay/Neuter:</strong> <%= best_in_place @animal, :spay_neuter_id, :type => :select, collection: [["1", "No"], ["2", "Yes"], ["3", "Unknown"]], :nil => @animal.spay_neuter.spay unless @animal.spay_neuter.blank? %></p>
							<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newColor" >Color</a>:</strong> <%= best_in_place @animal, :animal_color_id, :type => :select, collection: @colors, :nil => @animal.animal_color.color %></p>
							<p><strong>Special Needs:</strong> <%= best_in_place @animal, :special_needs, type: :textarea %></p>
						</div>
					</div>
					<div class="tab-pane" id="2">
						<p><strong><a  rel="tooltip" title="Click to add new" class="new_link tooltip-class" data-toggle="modal" href="#newShelter" >Shelter</a>:</strong> <%= best_in_place @animal, :shelter_id, :type => :select, collection: @shelters, :nil => @animal.shelter.name unless @animal.shelter.blank? %></p>
						<p><strong>Diet:</strong> <%= best_in_place @animal, :diet, :type => :textarea, :nil => "Click me to add content!" %></p>
						<p><strong>Deceased:</strong> <%= best_in_place @animal, :deceased, :type => :date, :display_as => :formatted_deceased_date, :nil => "Click me to add content!" %></p>
						<p><strong>Deceased Reason</strong>: <%= best_in_place @animal, :deceased_reason, :type => :textarea, :nil => "Click me to add content!" %></p>
					</div>
					<div class="tab-pane" id="3">
						<p><strong>Date of Intake:</strong> <%= best_in_place @animal, :date_of_intake, :type => :date, :display_as => :formatted_intake_date %></p>
						<p><strong>Date of Well Check:</strong> <%= best_in_place @animal, :date_of_well_check, :type => :date, :display_as => :formatted_well_date %></p>
					</div>
					<div class="tab-pane" id="4">
						<div class="showAnimalInfo">
							<table id="data">
								<tfoot>
									<tr>
										<% @animal_weights.each do |animal_weight| %>
											<th><%= animal_weight.date_of_weight.strftime("%m/%d/%Y")%></th>
										<%end%>
								</tfoot>
								<tbody>
									<tr>
										<%@animal_weights.each do |animal_weight|%>
											<td><%= animal_weight.weight%></td>
										<%end%>
									</tr>
								</tbody>
							</table>
							<div id="holder"></div>
							<a class="btn" data-toggle="modal" href="#newWeight" ><i class="icon-plus"></i> Add New Weight</a>
						</div>
					</div>
					<div class="tab-pane" id="5">
						<p>Notes coming soon.</p>
					</div>
				</div>
			</div>
		
			<div class="span8 pull-right">
				<ul class="thumbnails">
						<li class="span4 pull-right">
							<a href="#" class="thumbnail">
								<img height=180 width=260 src="http://hospitium-static.s3.amazonaws.com/app/public/system/images/106/original/Washington.JPG" alt="">
							</a>
						</li>
						<li class="span4 pull-right">
							<a href="#" class="thumbnail">
								<img height=180 width=260 src="http://hospitium-static.s3.amazonaws.com/app/public/system/images/116/original/Nevada.JPG" alt="">
							</a>
						</li>
						<li class="span4 pull-right">
							<a href="#" class="thumbnail">
								<img height=180 width=260 src="http://hospitium-static.s3.amazonaws.com/app/public/system/images/113/original/Oregon.JPG" alt="">
							</a>
						</li>
						<li class="span4 pull-right">
							<a href="#" class="thumbnail">
								<img height=180 width=260 src="http://hospitium-static.s3.amazonaws.com/app/public/system/images/109/original/California.JPG" alt="">
							</a>
						</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<%= link_to 'Back', admin_animals_path, :class => "js-pjax" %>

<div class="modal" id="newStatus" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Add New Status</h3>
	</div>
	<div class="modal-body">
		<%= form_for @status, :url => admin_statuses_path do |f| %>
			<%= f.label :status %>
	    <%= f.text_field :status %>
	<%= f.hidden_field :organization_id, :value => current_user.organization_id %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Add New", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
	<%end%>
</div>

<div class="modal" id="newSpecies" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Add New Species</h3>
	</div>
	<div class="modal-body">
		<%= form_for @species_model, :url => "/admin/species" do |f| %>
			<%= f.label :name %>
	    <%= f.text_field :name %>
	<%= f.hidden_field :organization_id, :value => current_user.organization_id %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Add New", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
	<%end%>
</div>

<div class="modal" id="newColor" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Add New Color</h3>
	</div>
	<div class="modal-body">
		<%= form_for @animal_color_model, :url => admin_animal_colors_path do |f| %>
			<%= f.label :color %>
	    <%= f.text_field :color %>
	<%= f.hidden_field :organization_id, :value => current_user.organization_id %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Add New", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
	<%end%>
</div>

<div class="modal" id="newShelter" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Add New Shelter</h3>
	</div>
	<div class="modal-body">
		<%= form_for @shelter_model, :url => admin_shelters_path do |f| %>
			<%= f.label :name %>
	    <%= f.text_field :name %>
	    <%= f.label :contact_first %>
	    <%= f.text_field :contact_first %>
	    <%= f.label :contact_last %>
	    <%= f.text_field :contact_last %>
	    <%= f.label :address %>
	    <%= f.text_field :address %>
	    <%= f.label :phone %>
	    <%= f.text_field :phone %>
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	    <%= f.label :website %>
	    <%= f.text_field :website %>
	    <%= f.label :notes %>
	    <%= f.text_area :notes %>
	<%= f.hidden_field :organization_id, :value => current_user.organization_id %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Add New", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
	<%end%>
</div>

<div class="modal" id="newWeight" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Add New Animal Weight</h3>
	</div>
	<div class="modal-body">
		<%= form_for @animal_weight_model, :url => admin_animal_weights_path do |f| %>
			<%= f.label :weight %>
	    <%= f.text_field :weight %>
			<%= f.label :date_of_weight %>
			<%#= f.datepicker 'date_of_weight' %>
	    <%= f.text_field :date_of_weight %>
	<%= f.hidden_field :organization_id, :value => current_user.organization_id %>
	<%= f.hidden_field :animal_id, :value => @animal.id %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Add New", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
	<%end%>
</div>





<% set_meta_description("Adopt #{@animal.name} from #{@animal.organization.name}") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt #{@animal.name}") %>
<% content_for :title, "Adopt #{@animal.name} - Hospitium" %>
<title><%= yield (:title) %></title>


<% content_for :head do %>
	<link rel="stylesheet" type="text/css" href="https://d4uktpxr9m70.cloudfront.net/stylesheets/shadowbox.css">
<% end %>

<% content_for :javascript_footer do %>
	<script type="text/javascript" src="https://d4uktpxr9m70.cloudfront.net/javascripts/shadowbox.js"></script>
	<script type="text/javascript">
		Shadowbox.init();
	</script>
	<script type="text/javascript">
		//setup juggernaut to handle real time updating page changes
		//this one handles changes made with best in place
		var jug = new Juggernaut({
			secure: false,
			host: 'hospitium-juggernaut.herokuapp.com',
			port: 80,
			transports: ['xhr-polling','jsonp-polling']
		});

		jug.subscribe("/observer/<%= @animal.uuid %>", function(data){
			var updated_text = "There was an update, but a problem displaying. Please refresh."
			jQuery.each(data.record, function(i, val) {
				if (i != "updated_at"){
					updated_text = val[1];
					if ($("#best_in_place_animal_<%= @animal.id %>_"+i).attr("data-collection") !== undefined) {
						var brand = $('#best_in_place_animal_<%= @animal.id %>_'+i).attr("data-collection");
						var test = $.parseJSON(brand);
						$.each(test, function(index, value) {
							if(value[0] == val[1]){
								updated_text = value[1];
							}
						});
					} else {
					    //do nothing
					}
					$('#best_in_place_animal_<%= @animal.id %>_'+i).css("background-color","#D1EED1");
					$('#best_in_place_animal_<%= @animal.id %>_'+i).html(updated_text);
					//setTimeout("moretext()",1000);
					//$('#best_in_place_animal_<%= @animal.id %>_'+i).delay(1500).css("background","none");
					$('#best_in_place_animal_<%= @animal.id %>_'+i).delay(1500).animate({backgroundColor: "#f5f5f5"}, 1000 );
				}
			});
		});
	</script>
	<script>
		$( "#animal_weight_date_of_weight" ).datepicker();
		$.datepicker.setDefaults({
		   dateFormat: 'D, dd M yy' });
	</script>
<% end %>
