<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat">
			<%= form_for animal_color, :url => admin_animal_colors_path, :validate => true do |f| %>
			  <% if animal_color.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(animal_color.errors.count, "error") %> prohibited this animal_color from being saved:</h2>

			      <ul>
			      <% animal_color.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  	<div class="form-group">
				    <%= f.label :color %>
				    <%= f.text_field :color, :class => "form-control" %>
				  </div>

					<hr />
			    <%= f.submit "Add Animal Color", :class => "btn btn-primary submit-button" %>

			<% end %>
		</div>
	</div>
</div>
