<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<!-- <div class="block-flat"> -->
			<a class="btn btn-primary btn-rad btn-trans" href="/admin/animal_colors/new"><i class="fa fa-plus tipster" title="Add New"></i><span class="hidden-xs hidden-sm"> Add New Animal Color</span></a>
		<!-- </div> -->
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat">
			<table class="no-border">
				<col><col><col><col><col><col><col><col>
				<thead class="no-border">
					<tr>
						<th><%= sort_link @search, :color %></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="no-border-x no-border-y">
					<% @animal_colors.each do |animal_color| %>
						<tr>
							<td><a href="/admin/animal_colors/<%= animal_color.id %>"><%= animal_color.color %></a></td>
							<td class="actions_column">
								<div class="btn-group">
									<a class="btn tipster" href="/admin/animal_colors/<%= animal_color.id %>" title="View Color"><i class="fa fa-eye"></i></a>
									<% if can? :destroy, animal_color and animal_color.animals.blank? %>
										<%= link_to raw("<i class='fa fa-remove'></i>"), admin_animal_color_path(animal_color),
										            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tipster", :title => "Delete" %>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @animal_colors, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>

