<div class="row-fluid">
	<div class="span12 main-app-row">
		<%- unless @animals.blank? %>
			<div class="alert alert-danger">
				<a class="close" data-dismiss="alert" href="#">&times;</a> 
				This color can not be deleted until no animals are associated to it.
			</div>
		<%end%>
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<h1><%= best_in_place @animal_color, :color, :type => :input, :nil => "Click me to add content!", :path => admin_animal_color_path %></h1>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="tabbable span4 ">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Animals</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<% @animals.each do |animal| %>
								<p><a href="/admin/animals/<%= animal.id %>-<%= animal.uuid %>"><%= animal.name %></a></p>
							<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<% content_for :javascript_footer do %>
	<script type="text/javascript">
		// Trigger juggernaut
		juggernaut_listen('<%= @animal_color.id %>', 'animal_color');
	</script>
<% end %>