<%= form_for(@adoption_contact) do |f| %>
  <% if @adoption_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adoption_contact.errors.count, "error") %> prohibited this adoption_contact from being saved:</h2>

      <ul>
      <% @adoption_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :animal %><br />
    <%= f.text_field :animal %>
  </div>
  <div class="field">
    <%= f.label :adopted_date %><br />
    <%= f.datetime_select :adopted_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
