<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat clearfix">
			<div class="col-sm-12 col-md-12 col-lg-5">
				<%= form_for adoption_contact, :url => admin_adoption_contacts_path, :validate => true do |f| %>
				  <% if adoption_contact.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(adoption_contact.errors.count, "error") %> prohibited this adoption_contact from being saved:</h2>

				      <ul>
				      <% adoption_contact.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				  	<div class="form-group">
					    <%= f.label :first_name %>
					    <%= f.text_field :first_name, :class => "form-control" %>
					  </div>
					  <div class="form-group">
					    <%= f.label :last_name %>
					    <%= f.text_field :last_name, :class => "form-control" %>
					  </div>
					  <div class="form-group">
					    <%= f.label :address %>
					    <%= f.text_field :address, :class => "form-control" %>
					  </div>
					  <div class="form-group">
					    <%= f.label :phone %>
					    <%= f.text_field :phone, :class => "form-control" %>
					  </div>
					  <div class="form-group">
					    <%= f.label :email %>
					    <%= f.text_field :email, :class => "form-control" %>
					  </div>

						<hr />
				    <%= f.submit "Add Adoption Contact", :class => "btn btn-primary submit-button" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
