<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<!-- <div class="block-flat"> -->
			<a class="btn btn-primary btn-rad btn-trans" href="/admin/adoption_contacts/new"><i class="fa fa-plus"></i>Add New Adoption Contact</a>
			&nbsp;
			<a class="btn btn-primary btn-rad btn-trans" href="/admin/adoption_contacts.csv" id="animal_sync_button"><i class="fa fa-download"></i> Export</a>
			&nbsp;
			<%= link_to raw('<i class="fa fa-file"></i> Download Adoption Form'), current_user.organization.adoption_form.url, :class => "btn btn-primary btn-rad btn-trans" %>
			<a class="btn btn-primary btn-rad btn-trans pull-right" data-toggle="modal" href="#myModal" ><i class="fa fa-search"></i> Advanced Search</a>
		<!-- </div> -->
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat">
			<table class="no-border">
				<col><col><col><col><col><col><col><col>
				<thead class="no-border">
					<tr>
						<th><%= sort_link @presenter.search, :first_name %></th>
						<th><%= sort_link @presenter.search, :last_name %></th>
						<th><%= sort_link @presenter.search, :address %></th>
						<th><%= sort_link @presenter.search, :phone %></th>
						<th><%= sort_link @presenter.search, :email %></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="no-border-x no-border-y">
					<% @presenter.adoption_contacts.each do |adoption_contact| %>
						<tr>
							<td><a href="/admin/adoption_contacts/<%= adoption_contact.id %>"><%= adoption_contact.first_name %></a></td>
							<td><%= adoption_contact.last_name %></td>
							<td><%= adoption_contact.address %></td>
							<td><%= number_to_phone(adoption_contact.phone) %></td>
							<td><%= adoption_contact.email %></td>
							<td class="actions_column">
								<div class="btn-group">
									<a class="btn tipster" href="/admin/adoption_contacts/<%= adoption_contact.id %>" title="View Contact"><i class="fa fa-eye"></i></a>
									<% if can? :destroy, adoption_contact %>
										<%= link_to raw("<i class='fa fa-remove'></i>"), admin_adoption_contact_path(adoption_contact),
										            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tipster", :title => "Delete" %>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
				<%= will_paginate @presenter.adoption_contacts, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal colored-header" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3>Advanced Search</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<%= search_form_for @presenter.search, :url => admin_adoption_contacts_path, :html => {:role => "form"} do |f| %>
					<div class="form-group">
						<%= f.label :first_name_cont %>
						<%= f.text_field :first_name_cont, :class => "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :last_name_cont %>
						<%= f.text_field :last_name_cont, :class => "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :address_cont %>
						<%= f.text_field :address_cont, :class => "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :phone_cont %>
						<%= f.text_field :phone_cont, :class => "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :email_cont %>
						<%= f.text_field :email_cont, :class => "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :animals_id_eq, "Animal" %>
						<%= f.collection_select :animals_id_eq, @presenter.animal, :id, :name, :include_blank => true, :class => "form-control modal-select" %>
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
