<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<a class="btn" href="/admin/adoption_contacts/new"><i class="icon-plus"></i>Add New Adoption Contact</a>
					&nbsp;
					<a class="btn" href="/admin/adoption_contacts.csv" id="animal_sync_button"><i class="icon-download"></i> Export</a>
				</div>
				<div class="span1"> &nbsp; </div>
				<div class="span5 pull-right">
				<a class="btn pull-right" data-toggle="modal" href="#myModal" ><i class="icon-search"></i> Advanced Search</a>
				</div>
				<!-- <form class="form-search">
				  <input type="text" class="input-medium search-query">
				  <button type="submit" class="btn">Search</button>
				</form> -->
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<col><col><col><col><col><col><col><col>
			<thead>
				<tr>
					<th><%= sort_link @search, :first_name %></th>
					<th><%= sort_link @search, :last_name %></th>
					<th><%= sort_link @search, :address %></th>
					<th><%= sort_link @search, :phone %></th>
					<th><%= sort_link @search, :email %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @adoption_contacts.each do |adoption_contact| %>
					<tr>
						<td><a href="/admin/adoption_contacts/<%= adoption_contact.id %>"><%= adoption_contact.first_name %></a></td>
						<td><%= adoption_contact.last_name %></td>
						<td><%= adoption_contact.address %></td>
						<td><%= number_to_phone(adoption_contact.phone) %></td>
						<td><%= adoption_contact.email %></td>
						<td class="actions_column">
							<div class="btn-group">
								<a class="btn tooltip-class" href="/admin/adoption_contacts/<%= adoption_contact.id %>" rel="tooltip" title="View Contact"><i class="icon-eye-open"></i></a>
								<% if can? :destroy, adoption_contact %>
									<%= link_to raw("<i class='icon-remove'></i>"), admin_adoption_contact_path(adoption_contact),
									            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tooltip-class", :rel => "tooltip", :title => "Delete" %>
								<% end %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<a class="btn" href="https://d4uktpxr9m70.cloudfront.net/pdfs/Adoption-Form.pdf"><i class="icon-file"></i> Download Adoption Form</a>
		<%= will_paginate @adoption_contacts %>
	</div>
</div>


<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3>Advanced Search</h3>
	</div>
	<div class="modal-body">
		<%= search_form_for @search, :url => admin_adoption_contacts_path, :html => { :class => "form-vertical"} do |f| %>
			<%= f.label :first_name_cont %>
			<%= f.text_field :first_name_cont %>
			<%= f.label :last_name_cont %>
			<%= f.text_field :last_name_cont %>

			<%= f.label :address_cont %>
			<%= f.text_field :address_cont %>
			<%= f.label :phone_cont %>
			<%= f.text_field :phone_cont %>
			<%= f.label :email_cont %>
			<%= f.text_field :email_cont %>

			<%= f.label :animals_id_eq, "Animal" %>
			<%= f.collection_select :animals_id_eq, @presenter.animal, :id, :name, :include_blank => true %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Submit", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
		<% end %>
</div>