<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @adoption_contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @adoption_contact.last_name %>
</p>

<p>
  <b>Uuid:</b>
  <%= @adoption_contact.uuid %>
</p>

<p>
  <b>Address:</b>
  <%= @adoption_contact.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @adoption_contact.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @adoption_contact.email %>
</p>

<p>
  <b>Animal:</b>
  <%= @adoption_contact.animal %>
</p>

<p>
  <b>Adopted date:</b>
  <%= @adoption_contact.adopted_date %>
</p>


<%= link_to 'Edit', edit_adoption_contact_path(@adoption_contact) %> |
<%= link_to 'Back', adoption_contacts_path %>
