<div class="cl-sidebar">
	<div class="cl-toggle"><i class="fa fa-bars"></i></div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content">
        <!--LOGO-->
        <div class="sidebar-logo">
          <div class="logo">
          		<a class="brand" href="/" style="padding:2px 20px 0px 0px;"><%= image_tag("hos-logo6.png", :size => "175x35")%></a>
          </div>
        </div>
        <div class="side-user">
        <!-- User progress bar-->
        </div>
        <!--Menu-->
				<ul class="cl-vnavigation">
          <li class="parent visible-xs-block">
            <a href="#"><%= gravatar_image_tag("#{current_user.email}", :alt => "#{current_user.email}", :gravatar => { :size => 25 }) %><span><%= current_user.username %></span></a>
            <ul class="sub-menu">
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
					<li class="<%= 'active' unless @active_nav.blank? %>">
						<a href="/admin">Dashboard</a>
					</li>
					<li class="<%= current_class?('admin/adoption_contacts', controller.action_name) %>">
						<a href="/admin/adoption_contacts">Adoption Contacts</a>
					</li>
					<li class="<%= current_class?('admin/animals', controller.action_name) %>">
						<a href="/admin/animals">Animals</a>
					</li>
					<li class="<%= current_class?('admin/animal_colors', controller.action_name) %>">
						<a href="/admin/animal_colors">Animals Colors</a>
					</li>
					<li class="<%= current_class?('admin/animal_weights', controller.action_name) %>">
						<a href="/admin/animal_weights">Animal Weights</a>
					</li>
					<li class="<%= current_class?('admin/foster_contacts', controller.action_name) %>">
						<a href="/admin/foster_contacts">Foster Contacts</a>
					</li>
					<li class="<%= current_class?('admin/organizations', controller.action_name) %>">
						<a href="/admin/organizations">Organizations</a>
					</li>
					<li class="<%= current_class?('admin/relinquishment_contacts', controller.action_name) %>">
						<a href="/admin/relinquishment_contacts">Relinquishment Contacts</a>
					</li>
					<li class="<%= current_class?('admin/shelters', controller.action_name) %>">
						<a href="/admin/shelters">Shelters</a>
					</li>
					<li class="<%= current_class?('admin/shots', controller.action_name) %>">
						<a href="/admin/shots">Shots</a>
					</li>
					<li class="<%= current_class?('admin/species', controller.action_name) %>">
						<a href="/admin/species">Species</a>
					</li>
					<li class="<%= current_class?('admin/statuses', controller.action_name) %>">
						<a href="/admin/statuses">Statuses</a>
					</li>
					<li class="<%= current_class?('admin/users', controller.action_name) %>">
						<a href="/admin/users">Users</a>
					</li>
					<li class="<%= current_class?('admin/vet_contacts', controller.action_name) %>">
						<a href="/admin/vet_contacts">Vet Contacts</a>
					</li>
					<li class="<%= current_class?('admin/volunteer_contacts', controller.action_name) %>">
						<a href="/admin/volunteer_contacts">Volunteer Contacts</a>
					</li>
					<%- if current_user.permissions.first.role_id == 1 %>
						<li class="<%= current_class?('admin/notifications', controller.action_name) %>">
							<a href="/admin/notifications">Notifications</a>
						</li>
						<li class="<%= current_class?('admin/posts', controller.action_name) %>">
							<a href="/admin/posts">Posts</a>
						</li>
					<%end%>
				</ul>
			</div>
		</div>
	</div>
	<div class="alert alert-block notification-sidebar-block hidden-xs">
		<strong><%= random_notice.status_type + "!" unless random_notice.blank? %></strong>
		<%= raw(random_notice.message)  unless random_notice.blank? %>
	</div>
</div>