<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" href="#">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/" style="padding:2px 20px 0px 0px;"><%= image_tag("hos-logo6.png", :size => "175x35")%></a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="/about">About</a></li>
					<li><a href="/features">Features</a></li>
					<li><a href="https://hospitium.tenderapp.com/kb">Docs</a></li>
					<li><a href="/animals">Adopt an Animal</a></li>
					<li><a href="/posts">Blog</a></li>
				</ul>
			</div>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li class="divider-vertical"></li>
					<li class="dropdown no-collapse">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_image_tag("#{current_user.email}", :alt => "#{current_user.email}", :gravatar => { :size => 25 }, :style => "position:absolute;top:7px") %> <span style="margin-left:30px"><%= current_user.username %></span> <b class="caret"></b></a>
						<ul class="dropdown-menu" data-no-collapse="true">
							<li><a href="/admin">Dashboard</a></li>
							<li><a href="/admin/users/<%= current_user.id %>">User Settings</a></li>
							<li class="divider"></li>
							<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
						</ul>
					</li>
				<% else %>
					<li class="divider-vertical"></li>
					<li><a href="/users/sign_in">Sign In</a></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>