<!-- ADMIN LAYOUT -->
<%= render "layouts/admin/header" %>
<body>
	<noscript>
			For full functionality of this site it is necessary to enable JavaScript.<br />
			Here are the <a href="http://www.enable-javascript.com/" target="_blank">
			instructions how to enable JavaScript in your web browser</a>.
	</noscript>
	<div id="cl-wrapper">
		<%= render "layouts/admin/side_nav", :random_notice => @random_notice %>

		<div class="container-fluid" id="pcont">
			<%= render "layouts/admin/top_nav" %>
			<div class="cl-mcont">
				<div id="pjax-contain">
					<%= render "layouts/flash", :flash => flash %>
					<%= yield %>
				</div>
			</div>
			<footer class="subnav">
			</footer>
		</div> <!-- /container -->
	</div><!-- /page-container -->
	<%= render "layouts/admin/scripts" %>
</body>
</html>
