<!-- ADMIN LAYOUT -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href='https://fonts.googleapis.com/css?family=Cabin:700|Maven+Pro' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<style>
		html, p, body{
			font-family: 'Maven Pro', sans-serif !important;
		}
		h1,h2,h3,h4,h5,h6{
			font-weight:700;
			font-family: 'Cabin', sans-serif !important;
		}
		p{
			font-size:14px;
			line-height:1.45em;
			font-weight:400;
		}
		.otherAnimalInfo p{
			font-size:14px;
			line-height:1em !important;
		}
	</style>
	<%= yield :head %>
	<%= csrf_meta_tag %>
	<%= meta_description("")%>
	<%= meta_keywords("")%>
	<%= head_title("Hospitium")%>
	<!-- Le fav and touch icons -->
	<%= favicon_link_tag 'apple-touch/favicon.ico', :rel => 'shortcut icon'%>
	<%= favicon_link_tag 'apple-touch/57.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '57x57' %>
	<%= favicon_link_tag 'apple-touch/72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>
	<%= favicon_link_tag 'apple-touch/114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>
</head>
<body>
	<noscript>
			For full functionality of this site it is necessary to enable JavaScript.<br />
			Here are the <a href="http://www.enable-javascript.com/" target="_blank">
			instructions how to enable JavaScript in your web browser</a>.
	</noscript>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" href="#">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/" style="padding:2px 20px 0px 0px;"><%= image_tag("hos-logo6.png", :size => "175x35")%></a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="/about">About</a></li>
						<li><a href="/features">Features</a></li>
						<li><a href="https://hospitium.tenderapp.com/kb">Docs</a></li>
						<li><a href="/animals">Adopt an Animal</a></li>
						<li><a href="/posts">Blog</a></li>
					</ul>
				</div>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li class="divider-vertical"></li>
						<li class="dropdown no-collapse">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_image_tag("#{current_user.email}", :alt => "#{current_user.email}", :gravatar => { :size => 25 }, :style => "position:absolute;top:7px") %> <span style="margin-left:30px"><%= current_user.username %></span> <b class="caret"></b></a>
							<ul class="dropdown-menu" data-no-collapse="true">
								<li><a href="/admin">Dashboard</a></li>
								<li><a href="/admin/users/<%= current_user.id %>">User Settings</a></li>
								<li class="divider"></li>
								<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
							</ul>
						</li>
					<% else %>
						<li class="divider-vertical"></li>
						<li><a href="/users/sign_in">Sign In</a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid main-container">
		<div class="row-fluid">
			<div class="span2" style="position:fixed;">
				<ul class="nav nav-list">
					<li class="nav-header">
						Navigation
					</li>
					<li class="<%= current_class?('admin/home', controller.action_name) %>">
						<a href="/admin">Dashboard</a>
					</li>
					<li class="<%= current_class?('admin/adoption_contacts', controller.action_name) %>">
						<a href="/admin/adoption_contacts">Adoption Contacts</a>
					</li>
					<li class="<%= current_class?('admin/animals', controller.action_name) %>">
						<a href="/admin/animals">Animals</a>
					</li>
					<li class="<%= current_class?('admin/animal_colors', controller.action_name) %>">
						<a href="/admin/animal_colors">Animals Colors</a>
					</li>
					<li class="<%= current_class?('admin/animal_weights', controller.action_name) %>">
						<a href="/admin/animal_weights">Animal Weights</a>
					</li>
					<li class="<%= current_class?('admin/organizations', controller.action_name) %>">
						<a href="/admin/organizations">Organizations</a>
					</li>
					<li class="<%= current_class?('admin/relinquishment_contacts', controller.action_name) %>">
						<a href="/admin/relinquishment_contacts">Relinquishment Contacts</a>
					</li>
					<li class="<%= current_class?('admin/shelters', controller.action_name) %>">
						<a href="/admin/shelters">Shelters</a>
					</li>
					<li class="<%= current_class?('admin/species', controller.action_name) %>">
						<a href="/admin/species">Species</a>
					</li>
					<li class="<%= current_class?('admin/statuses', controller.action_name) %>">
						<a href="/admin/statuses">Statuses</a>
					</li>
					<li class="<%= current_class?('admin/users', controller.action_name) %>">
						<a href="/admin/users">Users</a>
					</li>
					<li class="<%= current_class?('admin/vet_contacts', controller.action_name) %>">
						<a href="/admin/vet_contacts">Vet Contacts</a>
					</li>
					<li class="<%= current_class?('admin/volunteer_contacts', controller.action_name) %>">
						<a href="/admin/volunteer_contacts">Volunteer Contacts</a>
					</li>
					<%- if current_user.permissions.first.role_id == 1 %>
						<li class="<%= current_class?('admin/notifications', controller.action_name) %>">
							<a href="/admin/notifications">Notifications</a>
						</li>
						<li class="<%= current_class?('admin/posts', controller.action_name) %>">
							<a href="/admin/posts">Posts</a>
						</li>
					<%end%>
				</ul>
				<hr />
				<div class="alert alert-block notification-sidebar-block">
					<strong><%= @random_notice.status_type + "!" unless @random_notice.blank? %></strong>
					<%= raw(@random_notice.message)  unless @random_notice.blank? %>
				</div>
			</div>
			<div class="span10" style="padding-left:14.364640883%;">
				<div id="pjax-contain">
					<%- flash.each do |name, msg| %>
						<div class="alert alert-<%=name.to_s == 'notice' ? 'success' : name%>">
							<a class="close" data-dismiss="alert" href="#">&times;</a> 
							<%= msg %>
						</div>
					<% end %>
					<%= yield %>
				</div>
			</div>
		</div>
		<footer class="subnav">
		</footer>
	</div> <!-- /container -->
	<script src="https://d4uktpxr9m70.cloudfront.net/juggernaut.min3.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<%= javascript_include_tag "application" %>
	<%= yield :javascript_footer %>
	<script type='text/javascript'>/*{literal}<![CDATA[*/
		window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
		/* custom configuration goes here (www.olark.com/documentation) */
		olark.identify('3061-752-10-5663');/*]]>{/literal}*/
	</script>
	<!-- end olark code -->
	<script type="text/javascript">
		var _gaq=[['_setAccount','UA-25908952-1'],['_trackPageview'],['_trackPageLoadTime']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
