<div class="hero-unit">
<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-stacked" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>
<br />
  <div><%= f.submit "Send me reset password instructions", :class => "btn primary" %></div>
<% end %>
</div>
<%= render :partial => "devise/shared/links" %>