<h1>Listing vet_contacts</h1>

<table>
  <tr>
    <th>Clinic name</th>
    <th>Uuid</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Website</th>
    <th>Hours</th>
    <th>Emergency</th>
    <th>Organization</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vet_contacts.each do |vet_contact| %>
  <tr>
    <td><%= vet_contact.clinic_name %></td>
    <td><%= vet_contact.uuid %></td>
    <td><%= vet_contact.address %></td>
    <td><%= vet_contact.phone %></td>
    <td><%= vet_contact.email %></td>
    <td><%= vet_contact.website %></td>
    <td><%= vet_contact.hours %></td>
    <td><%= vet_contact.emergency %></td>
    <td><%= vet_contact.organization %></td>
    <td><%= link_to 'Show', vet_contact %></td>
    <td><%= link_to 'Edit', edit_vet_contact_path(vet_contact) %></td>
    <td><%= link_to 'Destroy', vet_contact, :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vet contact', new_vet_contact_path %>
