<%= form_for(@animal_weight) do |f| %>
  <% if @animal_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal_weight.errors.count, "error") %> prohibited this animal_weight from being saved:</h2>

      <ul>
      <% @animal_weight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :animal %><br />
    <%= f.text_field :animal %>
  </div>
  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
