<p id="notice"><%= notice %></p>

<p>
  <b>Animal:</b>
  <%= @animal_weight.animal %>
</p>

<p>
  <b>Uuid:</b>
  <%= @animal_weight.uuid %>
</p>

<p>
  <b>Weight:</b>
  <%= @animal_weight.weight %>
</p>


<%= link_to 'Edit', edit_animal_weight_path(@animal_weight) %> |
<%= link_to 'Back', animal_weights_path %>
