<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat clearfix">
			<div class="col-sm-12 col-md-12 col-lg-5">
				<%= form_for @volunteer_contact, :url => admin_volunteer_contacts_path, :validate => true do |f| %>
				  <% if @volunteer_contact.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@volunteer_contact.errors.count, "error") %> prohibited this volunteer_contact from being saved:</h2>

				      <ul>
				      <% @volunteer_contact.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				    <%= f.label :first_name %>
				    <%= f.text_field :first_name, :class => "form-control" %>

				    <%= f.label :last_name %>
				    <%= f.text_field :last_name, :class => "form-control" %>

				    <%= f.label :address %>
				    <%= f.text_field :address, :class => "form-control" %>

				    <%= f.label :phone %>
				    <%= f.text_field :phone, :class => "form-control" %>

				    <%= f.label :email %>
				    <%= f.text_field :email, :class => "form-control" %>

				    <%= f.label :application_date %>
				    <%= f.text_field :application_date, :class => "form-control" %>

						<hr />
								    <%= f.submit "Add Volunteer Contact", :class => "btn btn-primary submit-button" %>

				<% end %>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript_footer do %>
	<script nonce=<%= content_security_policy_nonce(:script) %>>
	$( "#volunteer_contact_application_date" ).datepicker();
	$.datepicker.setDefaults({
	   dateFormat: 'D, dd M yy'
	});
	</script>
<%end%>
