<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 main-app-row">
		<div class="block-flat profile-info">
      <div class="row">
        <div class="col-sm-11 col-md-11 col-lg-11">
          <div class="col-sm-2 col-md-2 col-lg-1">
            <div class="avatar">
              <%= gravatar_image_tag("#{@volunteer_contact.email}", :alt => "#{@volunteer_contact.email}", :gravatar => { :size => 260 }, :class => "profile-avatar") %>
            </div>
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <div class="personal">
              <h1><%= best_in_place @volunteer_contact, :first_name, :type => :input, :nil => "Click me to add content!", :path => admin_volunteer_contact_path %>
              <%= best_in_place @volunteer_contact, :last_name, :type => :input, :nil => "", :path => admin_volunteer_contact_path %></h1>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 pull-right share-animal-buttons">
          <%= link_to raw('<i class="fa fa-download"></i> Download Contact'), admin_volunteer_contact_path(@volunteer_contact, format: :vcf), class: 'btn btn-primary btn-rad btn-trans pull-right' %>
        </div>
      </div>
		</div>
		<div class="row">
			<div class="tabbable col-sm-6 col-md-6 col-lg-6 ">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Overview</a></li>
					<li><a href="#2" data-toggle="tab">Documents</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<p><strong>Phone #:</strong> <%= best_in_place @volunteer_contact, :phone, :nil => "Click me to add content!", :display_as => :formatted_phone, :path => admin_volunteer_contact_path %></p>
							<p><strong>Email:</strong> <%= best_in_place @volunteer_contact, :email, :nil => "Click me to add content!", :path => admin_volunteer_contact_path %></p>
							<p><strong>Address:</strong> <%= best_in_place @volunteer_contact, :address, :nil => "Click me to add content!", :path => admin_volunteer_contact_path %></p>
							<p><strong>Application Date:</strong> <%= best_in_place @volunteer_contact, :application_date, :type => :date, :display_as => :formatted_application_date, :nil => "Click me to add content!", :path => admin_volunteer_contact_path %></p>
						</div>
					</div>
					<div class="tab-pane" id="2">
						<div id="animal_docs_list">
							<table class="no-border">
								<thead class="no-border">
									<th>Filename</th>
									<th>Created</th>
									<th>Manage</th>
								</thead>
								<tbody class="no-border-x no-border-y">
									<%unless @volunteer_contact.documents.blank?%>
											<% @volunteer_contact.documents.each do |document| %>
												<tr>
													<td><a href="<%= document.document.url %>"><%= document.document_file_name %></a></td>
													<td><%= document.created_at.strftime("%b %e %Y") %></td>
													<td>
														<div class="btn-group pull-right">
															<a class="btn tipster" href="<%= document.document.url %>" title="View Document"><i class="fa fa-eye"></i></a>
															<%= link_to raw("<i class='fa fa-remove'></i>"), admin_document_path(document),
																            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tipster", :title => "Delete Document" %>
														</div>
													</td>
												</tr>
											<%end%>
									<%end%>
								</tbody>
							</table>
						</div>
						<hr />
						<a class="btn" data-toggle="modal" href="#doc_form" ><i class="fa fa-plus"></i> Add Doc</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-6 map-block">
				<div id="map_canvas" style="height:409px;width:100%;"></div>
			</div>
		</div>
	</div>
</div>

<div class="modal colored-header" id="doc_form" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3>Add New Volunteer Contact Document</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<div class="progress progress-striped active document_upload_bar" style="display:none;">
					<div class="progress-bar progress-bar-danger" style="width: 100%;"></div>
				</div>
				<p class="document_upload_bar" style="display:none;">Loading...</p>
				<%= form_for Document.new, :url => admin_documents_path, :remote => true, :html => {:id => "document_upload", :multipart => true} do |f| %>
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					<%= f.file_field :filearrays, :multiple =>:true %>
					<p>Max filesize of 100mb.</p>
					<%= f.hidden_field :documentable_id, :value => @volunteer_contact.id %><br />
					<%= f.hidden_field :documentable_type, :value => 'VolunteerContact' %><br />
				<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" class="btn btn-primary submit-button" data-form-id="document_upload">Save changes</a>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript_footer do %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" nonce=<%= content_security_policy_nonce(:script) %>>
		// Trigger google maps
		google_map('<%= @volunteer_contact.address %>', '<%= @volunteer_contact.first_name %>');
		// Trigger juggernaut
		// juggernaut_listen('<%= @volunteer_contact.id %>', 'volunteer_contact');
		hos_cable_listen('<%= @volunteer_contact.id %>', 'volunteer_contact');
	</script>
<% end %>
