<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @volunteer_contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @volunteer_contact.last_name %>
</p>

<p>
  <b>Uuid:</b>
  <%= @volunteer_contact.uuid %>
</p>

<p>
  <b>Address:</b>
  <%= @volunteer_contact.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @volunteer_contact.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @volunteer_contact.email %>
</p>

<p>
  <b>Application date:</b>
  <%= @volunteer_contact.application_date %>
</p>

<p>
  <b>Organization:</b>
  <%= @volunteer_contact.organization %>
</p>


<%= link_to 'Edit', edit_volunteer_contact_path(@volunteer_contact) %> |
<%= link_to 'Back', volunteer_contacts_path %>
