<div class="hero-unit clearfix">
	<div class="page-header">
  	<h1>Adopt an Animal!</h1>
	</div>
</div>

	<ul class="unstyled">
		<% @animals.each do |animal| %>
			<li class="singleAnimalAdoption clearfix">
				<%- unless animal.image.url(:medium) == "/images/medium/missing.png" %>
					<a href="<%= animal.image.url %>" class="adoptListImageLink"><img src="<%= animal.image.url(:medium) %>" align="left" class="adoptImage" /></a>
				<%- else %>
					<img src="images/no-animal-photo.jpg" width=300 height=300 align="left" class="adoptImage" />
				<% end %>
				<h1><a href="animals/<%= animal.uuid %>"><%= animal.name %></a></h1><h4><%= animal.species.name %></h4>
				<div class="otherAnimalInfo">
					<p>Location: <%= animal.organization.city %>, <%= animal.organization.state %> <%= animal.organization.zip_code %></p>
					<p>Organization: <a href="/organizations/<%= animal.organization.uuid %>"><%= animal.organization.name %></a></p>
					<p>Sex: <%= animal.animal_sex.sex unless animal.animal_sex.blank? %></p>
					<p>Age: <%= calculate_animal_age(animal.birthday) unless animal.birthday.blank? %></p>
					<p>Spay/Neuter: <%= animal.spay_neuter.spay unless animal.spay_neuter.blank? %></p>
					<p>Color: <%= animal.animal_color.color %></p>
					<p>Special Needs: <%= animal.special_needs %></p>
				</div>
			</li>
		<% end %>
		<%= will_paginate @animals %>
	</ul>

<p>
	You can also access this page at /animals.json or /animals.xml if you would like to use this data in other ways.
</p>
<% set_meta_description("Adopt an animal from one of Hospitium's rescues") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt an Animal") %>
