<div class="hero-unit clearfix">
	<div class="page-header">
  	<h1>Adopt an Animal!</h1>
	</div>
</div>

	<ul class="unstyled">
		<% @animals.each do |animal| %>
			<li class="singleAnimalAdoption clearfix">
				<ul class="thumbnails span3">
					<li class="pull-left animal_thumb">
						<a class="thumbnail" data-toggle="modal" href="<%= animal.image.url || "" %>" >
							<% unless animal.image.url(:medium) == "/images/medium/missing.png" %>
								<img height=180 width=260 src="<%= animal.image.url(:medium) %>" alt="">
							<% else %>
								<img height=180 width=260 src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" alt="">
							<%end%>
						</a>
					</li>
				</ul>
				<div class="span7 pull-right animal-pics">
					<h1><a class='js-pjax' href="animals/<%= animal.uuid %>"><%= animal.name %></a></h1><h4><%= animal.species_name %></h4>
					<div class="otherAnimalInfo">
						<p>Status: <%= animal.status.status %></p>
						<p>Location: <%= animal.organization_city %>, <%= animal.organization_state %> <%= animal.organization_zip_code %></p>
						<p>Organization: <a class='js-pjax' href="/organizations/<%= animal.organization.uuid %>"><%= animal.organization_name %></a></p>
						<p>Sex: <%= animal.sex unless animal.animal_sex.blank? %></p>
						<p>Age: <%= calculate_animal_age(animal.birthday) unless animal.birthday.blank? %></p>
						<p>Spay/Neuter: <%= animal.spay unless animal.spay_neuter.blank? %></p>
						<p>Color: <%= animal.color %></p>
						<p>Special Needs: <%= animal.special_needs %></p>
					</div>
				</div>
			</li>
		<% end %>
		<%= will_paginate @animals %>
	</ul>

<p>
	You can also access this page at /animals.json or /animals.xml if you would like to use this data in other ways.
</p>
<p style="font-size:13px;">
	All information listed here is contributed by our members. Hospitium is not responsible for its contents. We assume in good faith that all Organizations are in good legal standing to adopt animals. Animals listed here are for adoption only. No animals for sale (adoption fees are ok).
</p>
<% set_meta_description("Adopt an animal from one of Hospitium's rescues") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt an Animal") %>


<% content_for :head do %>
	<link rel="stylesheet" type="text/css" href="https://d4uktpxr9m70.cloudfront.net/stylesheets/shadowbox.css">
<% end %>

<% content_for :javascript_footer do %>
	<script type="text/javascript" src="https://d4uktpxr9m70.cloudfront.net/javascripts/shadowbox.js"></script>
	<script type="text/javascript">
		Shadowbox.init();
	</script>
<% end %>