<% animal = @animal %>
<div class="block-transparent clearfix">
	<div class="block-flat col-sm-12 col-md-12 col-lg-12">
		<h1><%= @animal.name %></h1>
	</div>
	<div class="otherAnimalInfo">
		<div class="row">
			<div class="">
				<div class="col-sm-5 col-md-5 col-lg-5">
          <div class="block-flat">
  					<p>Status: <%= @animal.status.status %></p>
  					<p>Species: <%= @animal.species_name %></p>
  					<p>Sex: <%= @animal.sex unless @animal.animal_sex.blank? %></p>
  					<p>Age: <%= calculate_animal_age(@animal.birthday) unless @animal.birthday.blank? %></p>
  					<p>Spay/Neuter: <%= @animal.spay unless @animal.spay_neuter.blank? %></p>
  					<p>Color: <%= @animal.color %></p>
  					<p>Special Needs: <%= @animal.special_needs %></p>
<!--           </div>
					<div class="block-flat"> -->
            <hr />
  					<p>Adoption Contact</p>
  					<p>Organization: <a href="/organizations/<%= @animal.organization.uuid %>"><%= @animal.organization_name %></a></p>
  					<%= markdown("Website: #{@animal.organization.pretty_website}") %>
  					<%= markdown("Email: #{@animal.organization_email}") %>
  					<p>Phone Number: <%= number_to_phone(@animal.organization_phone_number, :area_code => true) %></p>
  					<p>Address: <%= @animal.organization_address %></p>
  					<p><%= @animal.organization_city %>, <%= @animal.organization_state %> <%= @animal.organization_zip_code %></p>
          </div>
				</div>
				<div class="col-sm-7 col-md-7 col-lg-7 pull-right animal-pics">
          <div class="gallery-cont">
            <% unless animal.image.url(:medium) == "https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" %>
              <div class="item col-sm-6 col-md-6 col-lg-6">
                <div class="photo">
                  <div class="head">
                  </div>
                  <div class="img">
                    <img src="<%= animal.image.url(:medium) %>" alt="" class="responsive-image">
                    <div class="over">
                      <div class="func"><a href="<%= animal.image.url %>"><i class="fa fa-link"></i></a><a class="image-zoom" data-toggle="modal" href="#image_display_1" ><i class="fa fa-search"></i></a></div>
                    </div>            
                  </div>
                </div>
              </div>
            <% end %>
            <% unless animal.second_image.url(:medium) == "https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" %>
              <div class="item col-sm-6 col-md-6 col-lg-6">
                <div class="photo">
                  <div class="head">
                  </div>
                  <div class="img">
                    <img src="<%= animal.second_image.url(:medium) %>" alt="" class="responsive-image">
                    <div class="over">
                      <div class="func"><a href="<%= animal.second_image.url %>"><i class="fa fa-link"></i></a><a class="image-zoom" data-toggle="modal" href="#image_display_2" ><i class="fa fa-search"></i></a></div>
                    </div>            
                  </div>          
                </div>
              </div>
            <% end %>
            <% unless animal.third_image.url(:medium) == "https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" %>
              <div class="item col-sm-6 col-md-6 col-lg-6">
                <div class="photo">
                  <div class="head">
                  </div>
                  <div class="img">
                    <img src="<%= animal.third_image.url(:medium) %>" alt="" >
                    <div class="over">
                      <div class="func"><a href="<%= animal.third_image.url %>"><i class="fa fa-link"></i></a><a class="image-zoom" data-toggle="modal" href="#image_display_3" ><i class="fa fa-search"></i></a></div>
                    </div>            
                  </div>
                </div>
              </div>
            <% end %>
            <% unless animal.fourth_image.url(:medium) == "https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" %>
              <div class="item col-sm-6 col-md-6 col-lg-6">
                <div class="photo">
                  <div class="head">
                  </div>
                  <div class="img">
                    <img src="<%= animal.fourth_image.url(:medium) %>" alt="">
                    <div class="over">
                      <div class="func"><a href="<%= animal.fourth_image.url %>"><i class="fa fa-link"></i></a><a class="image-zoom" data-toggle="modal" href="#image_display_4" ><i class="fa fa-search"></i></a></div>
                    </div>            
                  </div>
                </div>
              </div>
            <% end %>
            <div class="item col-sm-12 col-md-12 col-lg-12 video-item">
              <% unless animal.video_embed.blank? %>
                <div class="photo">
                  <div class="head">
                  </div>
                  <div class="img">
                    <div class="videoWrapper">
                      <%= raw Sanitize.clean(animal.video_embed, Sanitize::Config::YOUTUBE).sub(/http:/, 'https:') %>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal colored-header" id="image_display_1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3><%= @animal.name %></h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<% unless @animal.image.url(:large) == "/images/large/missing.png" %>
					<img src="<%= @animal.image.url(:large) %>" alt="">
				<% else %>
					<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt="">
				<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal colored-header" id="image_display_2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3><%= @animal.name %></h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<% unless @animal.second_image.url(:large) == "/second_images/large/missing.png" %>
					<img src="<%= @animal.second_image.url(:large) %>" alt="">
				<% else %>
					<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt="">
				<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal colored-header" id="image_display_3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3><%= @animal.name %></h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<% unless @animal.third_image.url(:large) == "/third_images/large/missing.png" %>
					<img src="<%= @animal.third_image.url(:large) %>" alt="">
				<% else %>
					<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt="">
				<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal colored-header" id="image_display_4" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3><%= @animal.name %></h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<% unless @animal.fourth_image.url(:large) == "/fourth_images/large/missing.png" %>
					<img src="<%= @animal.fourth_image.url(:large) %>" alt="">
				<% else %>
					<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt="">
				<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<p id="notice"><%= notice %></p>



<br /><br />
<p style="font-size:13px;">
	All information listed here is contributed by our members. Hospitium is not responsible for its contents. We assume in good faith that all Organizations are in good legal standing to adopt animals. Animals listed here are for adoption only. No animals for sale (adoption fees are ok).
</p>
<% set_meta_description("Adopt #{@animal.name} from #{@animal.organization_name}") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt #{@animal.name}") %>
<% content_for :title, "Adopt #{@animal.name} - Hospitium" %>
<title><%= yield (:title) %></title>
