
<div class="hero-unit clearfix">
	<div class="page-header">
		<h1><%= @animal.name %></h1>
	</div>
	<div class="otherAnimalInfo">
		<%- unless @animal.image.url(:medium) == "/images/medium/missing.png" %>
			<a href="<%= @animal.image.url %>"><img src="<%= @animal.image.url(:medium) %>" style="float:right" class="adoptImage" /></a>
		<%- else %>
			<img src="/images/no-animal-photo.jpg" width=300 height=300 style="float:right" class="adoptImage" />
		<% end %>
		<p>Species: <%= @animal.species.name %></p>
		<p>Sex: <%= @animal.animal_sex.sex unless @animal.animal_sex.blank? %></p>
		<p>Age: <%= calculate_animal_age(@animal.birthday) unless @animal.birthday.blank? %></p>
		<p>Spay/Neuter: <%= @animal.spay_neuter.spay unless @animal.spay_neuter.blank? %></p>
		<p>Color: <%= @animal.animal_color.color %></p>
		<p>Special Needs: <%= @animal.special_needs %></p>
		<hr />
		<p>Adoption Contact</p>
		<p>Organization: <a href="/organizations/<%= @animal.organization.uuid %>"><%= @animal.organization.name %></a></p>
		<p>Website: <a href="<%= @animal.organization.website %>"><%= @animal.organization.website %></a></p>
		<p>Email: <a href="mailto:<%= @animal.organization.email %>"><%= @animal.organization.email %></a></p>
		<p>Phone Number: <%= @animal.organization.phone_number %></p>
		<p>Address: <%= @animal.organization.address %></p>
		<p><%= @animal.organization.city %>, <%= @animal.organization.state %> <%= @animal.organization.zip_code %></p>
		<p><!-- AddToAny BEGIN -->
		<div class="a2a_kit a2a_default_style">
		<a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
		<span class="a2a_divider"></span>
		<a class="a2a_button_twitter"></a>
		<a class="a2a_button_facebook"></a>
		<a class="a2a_button_email"></a>
		</div>
		<script type="text/javascript">
		var a2a_config = a2a_config || {};
		a2a_config.linkname = "Hospitium Adoption";
		</script>
		<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
		<!-- AddToAny END --></p>
	</div>
</div>



<p id="notice"><%= notice %></p>


<%= link_to 'Back', animals_path %>

<% set_meta_description("Adopt #{@animal.name} from #{@animal.organization.name}") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt #{@animal.name}") %>
