
<div class="hero-unit clearfix">
	<div class="page-header">
		<h1><%= @animal.name %></h1>
	</div>
	<div class="otherAnimalInfo">
		<div class="row-fluid">
			<div class="span12 main-app-row">
				<div class="span4">
					<p>Status: <%= @animal.status.status %></p>
					<p>Species: <%= @animal.species_name %></p>
					<p>Sex: <%= @animal.sex unless @animal.animal_sex.blank? %></p>
					<p>Age: <%= calculate_animal_age(@animal.birthday) unless @animal.birthday.blank? %></p>
					<p>Spay/Neuter: <%= @animal.spay unless @animal.spay_neuter.blank? %></p>
					<p>Color: <%= @animal.color %></p>
					<p>Special Needs: <%= @animal.special_needs %></p>
					<hr />
					<p>Adoption Contact</p>
					<p>Organization: <a class='js-pjax' href="/organizations/<%= @animal.organization.uuid %>"><%= @animal.organization_name %></a></p>
					<p>Website: <a href="<%= @animal.organization_website %>"><%= @animal.organization_website %></a></p>
					<p>Email: <a href="mailto:<%= @animal.organization_email %>"><%= @animal.organization_email %></a></p>
					<p>Phone Number: <%= number_to_phone(@animal.organization_phone_number, :area_code => true) %></p>
					<p>Address: <%= @animal.organization_address %></p>
					<p><%= @animal.organization_city %>, <%= @animal.organization_state %> <%= @animal.organization_zip_code %></p>
					<p><!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_default_style">
					<a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
					<span class="a2a_divider"></span>
					<a class="a2a_button_twitter"></a>
					<a class="a2a_button_facebook"></a>
					<a class="a2a_button_email"></a>
					</div>
					<script type="text/javascript">
					var a2a_config = a2a_config || {};
					a2a_config.linkname = "Hospitium Adoption";
					</script>
					<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END --></p>
				</div>
				<div class="span7 pull-right animal-pics">
					<ul class="thumbnails">
							<li class="span5 pull-right animal_thumb">
								<a class="thumbnail" data-toggle="modal" href="#image_display_1" >
									<% unless @animal.image.url(:medium) == "/images/medium/missing.png" %>
										<img height=180 width=260 src="<%= @animal.image.url(:medium) %>" alt="">
									<% else %>
										<img height=180 width=260 src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-new-size-logo2.png" alt="">
									<%end%>
								</a>
							</li>
							<% unless @animal.second_image.url(:medium) == "/second_images/medium/missing.png" %>
								<li class="span5 pull-right animal_thumb">
									<a class="thumbnail" data-toggle="modal" href="#image_display_2" >
										<img height=180 width=260 src="<%= @animal.second_image.url(:medium) %>" alt="">
									</a>
								</li>
							<%end%>
							<% unless @animal.third_image.url(:medium) == "/third_images/medium/missing.png" %>
								<li class="span5 pull-right animal_thumb">
									<a class="thumbnail" data-toggle="modal" href="#image_display_3" >
										<img height=180 width=260 src="<%= @animal.third_image.url(:medium) %>" alt="">
									</a>
								</li>
							<%end%>
							<% unless @animal.fourth_image.url(:medium) == "/fourth_images/medium/missing.png" %>
								<li class="span5 pull-right animal_thumb">
									<a class="thumbnail" data-toggle="modal" href="#image_display_4" >
										<img height=180 width=260 src="<%= @animal.fourth_image.url(:medium) %>" alt="">
									</a>
								</li>
							<%end%>
							<% unless @animal.video_embed.blank? %>
								<li class="span8 pull-right animal_thumb">
									<a class="thumbnail" href="#" >
										<div class="embed-container">
											<%= raw Sanitize.clean(@animal.video_embed, Sanitize::Config::YOUTUBE) %>
										</div>
									</a>
								</li>
							<%end%>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>




<div class="modal" id="image_display_1" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3><%= @animal.name %></h3>
	</div>
	<div class="modal-body">
		<% unless @animal.image.url(:large) == "/images/large/missing.png" %>
			<img src="<%= @animal.image.url(:large) %>" alt="">
		<% else %>
			<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt="">
		<%end%>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<div class="modal" id="image_display_2" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3><%= @animal.name %></h3>
	</div>
	<div class="modal-body">
		<% unless @animal.second_image.url(:large) == "/second_images/large/missing.png" %>
			<img height=180 width=260 src="<%= @animal.second_image.url(:large) %>" alt="">
		<% else %>
			<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt="">
		<%end%>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<div class="modal" id="image_display_3" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3><%= @animal.name %></h3>
	</div>
	<div class="modal-body">
		<% unless @animal.third_image.url(:large) == "/third_images/large/missing.png" %>
			<img src="<%= @animal.third_image.url(:large) %>" alt="">
		<% else %>
			<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt="">
		<%end%>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<div class="modal" id="image_display_4" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3><%= @animal.name %></h3>
	</div>
	<div class="modal-body">
		<% unless @animal.fourth_image.url(:large) == "/fourth_images/large/missing.png" %>
			<img src="<%= @animal.fourth_image.url(:large) %>" alt="">
		<% else %>
			<img src="https://d4uktpxr9m70.cloudfront.net/images/no-animal-large-logo2.png" alt="">
		<%end%>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>


<p id="notice"><%= notice %></p>


<%= link_to 'Back', animals_path %>
<br /><br />
<p style="font-size:13px;">
	All information listed here is contributed by our members. Hospitium is not responsible for its contents. We assume in good faith that all Organizations are in good legal standing to adopt animals. Animals listed here are for adoption only. No animals for sale (adoption fees are ok).
</p>
<% set_meta_description("Adopt #{@animal.name} from #{@animal.organization_name}") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("Adopt #{@animal.name}") %>
<% content_for :title, "Adopt #{@animal.name} - Hospitium" %>
<title><%= yield (:title) %></title>


<% content_for :head do %>
	<link rel="stylesheet" type="text/css" href="https://d4uktpxr9m70.cloudfront.net/stylesheets/shadowbox.css">
<% end %>

<% content_for :javascript_footer do %>
	<script type="text/javascript" src="https://d4uktpxr9m70.cloudfront.net/javascripts/shadowbox.js"></script>
	<script type="text/javascript">
		Shadowbox.init();
	</script>
<% end %>
