
<div class="hero-unit clearfix">
	<div class="page-header">
		<h1><%= @post.title %></h1>
		<strong><%= @post.author %> posted on <%= @post.created_at.strftime("%m-%d-%Y") %></strong>
	</div>
	<div>
		<p><%= unsafe_markdown(@post.content) %></p>
	</div>
</div>



<p id="notice"><%= notice %></p>
<hr />


<% set_meta_description("#{truncate(@post.content, :length => 155)}") %>
<% set_meta_keywords("hospitium,blog") %>
<% set_head_title("#{@post.title}") %>
<% content_for :title, "#{@post.title} - Hospitium" %>
<title><%= yield (:title) %></title>
