<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat clearfix">
			<div class="col-sm-12 col-md-12 col-lg-5">
				<%= form_for @vet_contact, :url => admin_vet_contacts_path, :validate => true do |f| %>
				  <% if @vet_contact.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@vet_contact.errors.count, "error") %> prohibited this vet_contact from being saved:</h2>

				      <ul>
				      <% @vet_contact.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				    <%= f.label :clinic_name %>
				    <%= f.text_field :clinic_name, :class => "form-control" %>

				    <%= f.label :address %>
				    <%= f.text_field :address, :class => "form-control" %>

				    <%= f.label :phone %>
				    <%= f.text_field :phone, :class => "form-control" %>

				    <%= f.label :email %>
				    <%= f.text_field :email, :class => "form-control" %>

				    <%= f.label :website %>
				    <%= f.text_field :website, :class => "form-control" %>

				    <%= f.label :hours %>
				    <%= f.text_field :hours, :class => "form-control" %>

				    <%= f.label :emergency %>
				    <%= f.text_field :emergency, :class => "form-control" %>

						<hr />
								    <%= f.submit "Add Vet Contact", :class => "btn btn-primary submit-button" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
