<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<a class="btn btn-primary btn-rad btn-trans" href="/admin/vet_contacts/new"><i class="fa fa-plus"></i> Add New Vet Contact</a>
		&nbsp;
		<a class="btn btn-primary btn-rad btn-trans" href="/admin/vet_contacts.csv" id="animal_sync_button"><i class="fa fa-download"></i> Export</a>

		<a class="btn btn-primary btn-rad btn-trans pull-right" data-toggle="modal" href="#myModal" ><i class="fa fa-search"></i> Advanced Search</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat">
			<table class="no-border">
				<col><col><col><col><col><col><col><col>
				<thead class="no-border">
					<tr>
						<th><%= sort_link @search, :clinic_name %></th>
						<th><%= sort_link @search, :address %></th>
						<th><%= sort_link @search, :phone %></th>
						<th><%= sort_link @search, :emergency %></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="no-border-x no-border-y">
					<% @vet_contacts.each do |vet_contact| %>
						<tr>
							<td><a href="/admin/vet_contacts/<%= vet_contact.id %>"><%= vet_contact.clinic_name %></a></td>
							<td><%= vet_contact.address %></td>
							<td><%= number_to_phone(vet_contact.phone) %></td>
							<td><%= vet_contact.emergency %></td>
							<td class="actions_column">
								<div class="btn-group">
									<a class="btn tipster" href="/admin/vet_contacts/<%= vet_contact.id %>" title="View Contact"><i class="fa fa-eye"></i></a>
									<% if can? :destroy, vet_contact %>
										<%= link_to raw("<i class='fa fa-remove'></i>"), admin_vet_contact_path(vet_contact),
										            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tipster", :title => "Delete" %>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @vet_contacts, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>

<div class="modal colored-header" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3>Advanced Search</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<%= search_form_for @search, :url => admin_vet_contacts_path, :html => { :class => "form-vertical"} do |f| %>
					<%= f.label :clinic_name_cont %>
					<%= f.text_field :clinic_name_cont, :class => "form-control" %>

					<%= f.label :address_cont %>
					<%= f.text_field :address_cont, :class => "form-control" %>
					<%= f.label :phone_cont %>
					<%= f.text_field :phone_cont, :class => "form-control" %>
					<%= f.label :emergency_cont %>
					<%= f.text_field :emergency_cont, :class => "form-control" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
