<p id="notice"><%= notice %></p>

<p>
  <b>Clinic name:</b>
  <%= @vet_contact.clinic_name %>
</p>

<p>
  <b>Uuid:</b>
  <%= @vet_contact.uuid %>
</p>

<p>
  <b>Address:</b>
  <%= @vet_contact.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @vet_contact.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @vet_contact.email %>
</p>

<p>
  <b>Website:</b>
  <%= @vet_contact.website %>
</p>

<p>
  <b>Hours:</b>
  <%= @vet_contact.hours %>
</p>

<p>
  <b>Emergency:</b>
  <%= @vet_contact.emergency %>
</p>

<p>
  <b>Organization:</b>
  <%= @vet_contact.organization %>
</p>


<%= link_to 'Edit', edit_vet_contact_path(@vet_contact) %> |
<%= link_to 'Back', vet_contacts_path %>
