<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 main-app-row">
		<div class="block-flat">
					<h1><%= best_in_place @vet_contact, :clinic_name, :type => :input, :nil => "Click me to add content!", :path => admin_vet_contact_path %></h1>
		</div>
		<div class="row">
			<div class="tabbable col-sm-6 col-md-6 col-lg-6 ">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Overview</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<p><strong>Phone #:</strong> <%= best_in_place @vet_contact, :phone, :nil => "Click me to add content!", :display_as => :formatted_phone, :path => admin_vet_contact_path %></p>
							<p><strong>Email:</strong> <%= best_in_place @vet_contact, :email, :nil => "Click me to add content!", :path => admin_vet_contact_path %></p>
							<p><strong>Address:</strong> <%= best_in_place @vet_contact, :address, :nil => "Click me to add content!", :path => admin_vet_contact_path %></p>
							<p><strong>Website:</strong> <%= best_in_place @vet_contact, :website, :nil => "Click me to add content!", :path => admin_vet_contact_path %></p>
							<p><strong>Emergency:</strong> <%= best_in_place @vet_contact, :emergency, :nil => "Click me to add content!", :path => admin_vet_contact_path %></p>
							<p><strong>Hours:</strong> <%= best_in_place @vet_contact, :hours, :nil => "Click me to add content!", :path => admin_vet_contact_path %></p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-6 map-block">
				<div id="map_canvas" style="height:409px;width:100%;"></div>
			</div>
		</div>
	</div>
</div>







<% content_for :javascript_footer do %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		// Trigger google maps
		google_map('<%= @vet_contact.address %>', '<%= @vet_contact.clinic_name %>');
		// Trigger juggernaut
		// juggernaut_listen('<%= @vet_contact.id  %>', 'vet_contact');
		hos_cable_listen('<%= @vet_contact.id  %>', 'vet_contact');
	</script>
<% end %>
