<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 main-app-row">
		<div class="block-flat">
			<h1><%= best_in_place @animal_weight, :weight, :type => :input, :nil => "Click me to add content!", :path => admin_animal_weight_path %></h1>
		</div>
		<div class="row">
			<div class="tabbable col-sm-6 col-md-6 col-lg-6 ">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Details</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<%unless @animal_weight.animal.blank?%>
								<%@animal_name = @animal_weight.animal.name %>
							<%else%>
								<%@animal_name = "Click me to add content!" %>
							<%end%>
							<p><strong>Date of Weight:</strong> <%= best_in_place @animal_weight, :date_of_weight, :type => :date, :display_as => :formatted_weight_date, :path => admin_animal_weight_path %></p>
							<p><strong>Animal:</strong> <%= best_in_place @animal_weight, :animal_id, :type => :select, collection: @animals, :nil => @animal_name, :path => admin_animal_weight_path %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript_footer do %>
	<script type="text/javascript" nonce=<%= content_security_policy_nonce(:script) %>>
		// Trigger juggernaut
		// juggernaut_listen('<%= @animal_weight.id %>', 'animal_weight');
		hos_cable_listen('<%= @animal_weight.id %>', 'animal_weight');
	</script>
<%end%>
