
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
  <div class="content">
    <h4 class="title">Login Access</h4>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="input-group">
        	<span class="input-group-addon"><i class="fa fa-user"></i></span>
        	<%= f.text_field :login, :class => "form-control", :placeholder => "Username", :autofocus => true %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
        </div>
      </div>
    </div>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>
  </div>
  <div class="foot">
      <a class="btn btn-default" href="/users/sign_up">Register</a>
      <%= f.submit "Log me in", :class => "btn btn-primary" %>
  </div>
<% end %>




      <br /><br />
      <div class="col-sm-12" style="margin-top:40px">
      <!-- <p>If you don't have an account <a class="js-pjax" href="/users/sign_up">Sign Up Here</a>.</p> -->
      <p><a class="js-pjax" href="/users/password/new">Forgot your password?</a></p>
      <p> Need help <a href="https://hospitium.tenderapp.com/kb/general-use/getting-started" target="blank">getting started</a>?</p>
      </div>


<% set_head_title("Sign In") %>
<% content_for :title, "Sign In - Hospitium" %>
<title><%= yield (:title) %></title>