<% if notice.blank? %>

<% else %>
	<div class="alert-message info" style="margin-top:60px;"><%= notice %></div>
<% end %>
<div class="hero-unit">
<h2>Sign in</h2>
<div class="alert-message block-message error">
        <p><strong>Warning!</strong> This is still super beta software. Things are changing fast and you may lose data.</p>
</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-stacked"}) do |f| %>

	<div class="clearfix"><%= f.label :login %>
		<%= f.text_field :login %></div>
  <div class="clearfix"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
	<br />
  <div><%= f.submit "Sign in", :class => "btn primary" %></div>
<% end %>
</div>
<%= render :partial => "devise/shared/links" %>