<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span3">
				<div class="well">
					<p>Total number of animals</p>
					<h1><%= @presenter.total_animals %> <span id="animals_sparkline"></span></h1>
				</div>
			</div>
			<div class="span3">
				<div class="well">
					<p>Total number of species</p>
					<h1><%= @presenter.total_species %> <span id="species_sparkline"></span></h1>
				</div>
			</div>
			<div class="span3">
				<div class="well">
					<p>Total number of contacts</p>
					<h1><%= @presenter.total_contacts %> <span id="contact_sparkline"></span></h1>
				</div>
			</div>
			<div class="span3">
				<div class="well">
					<p>Total number of events</p>
					<h1><%= @presenter.total_events %> <span id="event_sparkline"></span></h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span6">
				<h2>Animal Statuses</h2>
				<canvas id="statusDoughnutCanvas" height="250" width="250"></canvas>
				<canvas id="statusPolarCanvas" height="250" width="250"></canvas>
				<ul class="chartKey-bar">
					<% @presenter.status_chart.each do |item| %>
						<li>
							<div class="circle" style="width:10px;height:10px;background-color:<%= item[:color] %>;"></div>
							<%= item[:label] %>
							<%= number_to_percentage(item[:percent], :precision => 0) %>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="span6">
				<h2>Animal Species</h2>
				<canvas id="speciesDoughnutCanvas" height="250" width="250"></canvas>
				<canvas id="speciesPolarCanvas" height="250" width="250"></canvas>
				<ul class="chartKey-bar">
					<% @presenter.species_chart.each do |item| %>
						<li>
							<div class="circle" style="width:10px;height:10px;background-color:<%= item[:color] %>;"></div>
							<%= item[:label] %>
							<%= number_to_percentage(item[:percent], :precision => 0) %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span6">
				<h2>Animal Colors</h2>
				<canvas id="colorDoughnutCanvas" height="250" width="250"></canvas>
				<canvas id="colorPolarCanvas" height="250" width="250"></canvas>
				<ul class="chartKey-bar">
					<% @presenter.colors_chart.each do |item| %>
						<li>
							<div class="circle" style="width:10px;height:10px;background-color:<%= item[:color] %>;"></div>
							<%= item[:label] %>
							<%= number_to_percentage(item[:percent], :precision => 0) %>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="span6">
				<h2>Animal Sexes</h2>
				<canvas id="sexDoughnutCanvas" height="250" width="250"></canvas>
				<canvas id="sexPolarCanvas" height="250" width="250"></canvas>
				<ul class="chartKey-bar">
					<% @presenter.sex_chart.each do |item| %>
						<li>
							<div class="circle" style="width:10px;height:10px;background-color:<%= item[:color] %>;"></div>
							<%= item[:label] %>
							<%= number_to_percentage(item[:percent], :precision => 0) %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">	
		<hr />
	</div>
</div>
<div class="row-fluid">
	<div class="span12">	
		<div class="row-fluid">
			<div class="span6">
				<h2>Recent Activity</h2>
				<%= render "latest_activity", :latest_activity => @presenter.latest_activity %>
			</div>
			<div class="span6">
				<h2>Public Animals</h2>
				<%= render "public_animals", :public_animals => @presenter.public_animals %>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript_footer do %>
	<script type="text/javascript">
		// Trigger page js
		var data_for_charts = {
								"status_data":        <%= raw(sanitize(@presenter.status_chart.to_json)) %>, 
								"species_data":       <%= raw(sanitize(@presenter.species_chart.to_json)) %>,
								"colors_data":        <%= raw(sanitize(@presenter.colors_chart.to_json)) %>,
								"sex_data":           <%= raw(sanitize(@presenter.sex_chart.to_json)) %>,
								"event_spark_data":   <%= raw(sanitize(@presenter.events_sparkline.to_json)) %>,
								"contact_spark_data": <%= raw(sanitize(@presenter.contacts_sparkline.to_json)) %>,
								"species_spark_data": <%= raw(sanitize(@presenter.species_sparkline.to_json)) %>,
								"animals_spark_data": <%= raw(sanitize(@presenter.animals_sparkline.to_json)) %>,
							}
		home_dashboard(data_for_charts);
	</script>
<% end %>