<% @organizations.each do |organization| %>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 main-app-row">
				<div class="block-flat">
					<div class="row">
						<h1 class="col-sm-6 col-md-6 col-lg-6"><%= best_in_place organization, :name, :type => :input, :nil => "Click me to add content!", :path => admin_organization_path(organization) %></h1>

						<% if can? :cancel, current_user %>
							<%= link_to raw("<i class='fa fa-remove'></i> Cancel Account"), admin_cancel_user_path(current_user),
		                            :data => {:confirm => 'Are you sure you want to delete? This will remove all animals, users, and other data associated with your Organization. This action can not be undone.'}, :method => :delete, :class => "btn btn-primary btn-rad btn-trans pull-right tipster", :title => "Delete" %>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="tabbable col-sm-6 col-md-6 col-lg-6">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#1" data-toggle="tab">Details</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="1">
								<div class="">
									<p><strong>Website:</strong> <%= best_in_place organization, :website, :type => :input, :nil => "Click me to add content!", :path => admin_organization_path(organization) %></p>
									<p><strong>Email:</strong> <%= best_in_place organization, :email, :type => :input, :nil => "Click me to add content!", :path => admin_organization_path(organization) %></p>
									<p><strong>Phone #:</strong> <%= best_in_place organization, :phone_number, :type => :input, :nil => "Click me to add content!", :display_as => :formatted_phone, :path => admin_organization_path(organization) %></p>
									<p><strong>Street:</strong> <%= best_in_place organization, :address, :type => :input, :nil => "Click me to add content!", :path => admin_organization_path(organization) %></p>
									<p><strong>City:</strong> <%= best_in_place organization, :city, :type => :input, :nil => "Click me to add content!", :path => admin_organization_path(organization) %></p>
									<p><strong>State:</strong> <%= best_in_place organization, :state, :type => :input, :nil => "Click me to add content!", :path => admin_organization_path(organization) %></p>
									<p><strong>Zip:</strong> <%= best_in_place organization, :zip_code, :type => :input, :nil => "Click me to add content!", :path => admin_organization_path(organization) %></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6 map-block">
						<div id="map_canvas" style="height:409px;width:400px;"></div>
					</div>
				</div>
		</div>
	</div>
	
	<% content_for :javascript_footer do %>		
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript">
			// Trigger google maps
			google_map('<%= organization.full_address %>', '<%= organization.name %>');
			// Trigger juggernaut
			juggernaut_listen('<%= organization.id  %>', 'organization');
		</script>
	<%end%>
	
<%end%>


