- form_tag("/twitter_accounts/send_tweet", :method => "post") do
	%input{:type => "hidden", :value => "#{@object.uuid}", :name => "animal_uuid"}
	%input{:type => "hidden", :value => "#{@object.id}", :name => "animal_id"}
	%input{:type => "hidden", :value => "#{@object.name}", :name => "animal_name"}
	%button{:type => "submit", :class => "button"}Send Animal To Twitter
%br
%p
%br
- form_tag("/facebook_accounts/send_wall_post", :method => "post") do
	%input{:type => "hidden", :value => "#{@object.uuid}", :name => "animal_uuid"}
	%input{:type => "hidden", :value => "#{@object.id}", :name => "animal_id"}
	%input{:type => "hidden", :value => "#{@object.name}", :name => "animal_name"}
	%button{:type => "submit", :class => "button"}Send Animal To Facebook
%br
%p
%br
- form_tag("/wordpress_accounts/send_blog_post", :method => "post") do
	%input{:type => "hidden", :value => "#{@object.uuid}", :name => "animal_uuid"}
	%input{:type => "hidden", :value => "#{@object.id}", :name => "animal_id"}
	%input{:type => "hidden", :value => "#{@object.name}", :name => "animal_name"}
	%input{:type => "hidden", :value => "#{@object.image.url(:medium)}", :name => "animal_picture"}
	%button{:type => "submit", :class => "button"}Send Animal To Wordpress