- unless @object.image.url == "/images/original/missing.png"
	%a{:href => "#{@object.image.url}"}
		%img{:src  => "#{@object.image.url(:medium)}"}
- else
	%img{:src  => "/images/no-animal-photo.jpg"}
- unless @object.second_image.url == "/images/original/missing.png"
	%a{:href => "#{@object.second_image.url}"}
		%img{:src  => "#{@object.second_image.url(:thumbnail)}"}
- else
	/do nothing
- unless @object.third_image.url == "/images/original/missing.png"
	%a{:href => "#{@object.third_image.url}"}
		%img{:src  => "#{@object.third_image.url(:thumbnail)}"}
- else
	/do nothing
%br
%br