-# FIXME: too much duplication between this page and edit page
- head_style "rails_admin/form.css"
- head_javascript "rails_admin/application.js"
- head_javascript "rails_admin/ra.remote-form.js"
- head_javascript "rails_admin/activo/application.js"
:css
	.user_organization_id{
		display:none;
	}
	.user_organization_name{
		display:none;
	}
	.adoption_contact_organization_id{
		display:none;
	}
	.animal_organization_id{
		display:none;
	}
	.animal_color_organization_id{
		display:none;
	}
	.animal_weight_organization_id{
		display:none;
	}
	.relinquishment_contact_organization_id{
		display:none;
	}
	.shelter_organization_id{
		display:none;
	}
	.species_organization_id{
		display:none;
	}
	.vet_contact_organization_id{
		display:none;
	}
	.volunteer_contact_organization_id{
		display:none;
	}
#block-tables.block
	= breadcrumbs_for :new, @abstract_model

	.content
		%h2.title= @page_name
		.inner
			= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash})
			= send(@model_config.create.form_builder, @object, :url => rails_admin_create_path(:model_name => @abstract_model.to_param, :id => @object.id), :html => { :multipart => true, :class => "form" }) do |form|
				- @model_config.create.with(:object => @object).visible_groups.each do |fieldset|
					= render :partial => 'form_fieldset', :locals => { :fieldset => fieldset, :form => form, :object => @object }
				= render :partial => 'submit_buttons'
:javascript
	//users
	document.getElementById("user_organization_name").setAttribute("value", "#{current_user.organization.name}");
	document.getElementById("user_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("adoption_contact_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("animal_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("animal_color_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("relinquishment_contact_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("animal_weight_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("shelter_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("species_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("vet_contact_organization_id").value = #{current_user.organization.id};
:javascript
	//adopt contacts
	document.getElementById("volunteer_contact_organization_id").value = #{current_user.organization.id};