- head_style "rails_admin/form.css"
- head_style "rails_admin/show.css"
- head_javascript "rails_admin/application.min.js"
- head_javascript "rails_admin/ra.remote-form.min.js"
- head_javascript "rails_admin/activo/application.min.js"
- head_style "rails_admin/jquery.ui.timepicker.css"
- head_javascript "rails_admin/jquery.ui.timepicker.js"
- head_javascript "rails_admin/ra.datetimepicker.js"
- head_javascript do
	:plain
		$j(document).ready(function($){
		$("#animal_weight_date_of_weight").datetimepicker({"datepicker":{"dateFormat":"MM dd, yy","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"firstDay":1,"monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"value":""},"timepicker":{"amPmText":["",""],"hourText":"Hour","minuteText":"Minute","showPeriod":false,"value":"00:00"}});
		});
- head_javascript do
	$j.fx.speeds._default = 1000;
	$j(function() {
	$j( "#popUpForm" ).dialog({
	autoOpen: false,
	show: "fade",
	hide: "fade",
	modal: true,
	minWidth: 720,
	minHeight: 500,
	});
	$j( "#animal-weight-popup" ).click(function() {
	$j( "#popUpForm" ).dialog( "open" );
	return false;
	});
	});
	$j('#animal_weight_form').bind("ajax:success", function(evt, data, status, xhr){
	location.reload();
	});



#block-tables.block
	= breadcrumbs_for :show, @object

	.content.clearfix
		.control
			= action_button rails_admin_history_object_path(:id => params[:id]), t("admin.history.name"), :'calendar-hover'
			- if authorized? :edit, @abstract_model, @object
				= action_button rails_admin_edit_path(@abstract_model, @object.id), t("admin.list.edit_action"), :edit
			- if authorized? :delete, @abstract_model, @object
				= action_button rails_admin_delete_path(@abstract_model, @object.id), t("admin.list.delete_action"), :cross

		%h2.title= @page_name
		.inner.clearfix
			= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash})
			/ render the sidebar for animal pages - show the animal picture and the share buttons
			-  if @object.respond_to?('image_file_name')
				.animalMedia
					= render :partial => "animal_image", :object => @object
					= render :partial => "animal_sharing", :object => @object
			-  if @object.respond_to?('address')
				.animalMedia
					= render :partial => "google_map", :object => @object
			- @model_config.show.with(:object => @object, :view => self).visible_groups.each do |fieldset|
				- unless (fields = fieldset.visible_fields.map{|f| f.with(:object => @object, :view => self)}).empty?
					- if !(values = fields.map{ |f| f.pretty_value.presence }).compact.empty? || !RailsAdmin::config.compact_show_view
						.fieldset.showAnimalInfo
							%h4= fieldset.label
							= content_tag :div, fieldset.help, :class => "help" if fieldset.help
							- fields.each_with_index do |field, index|
								/do your normal loop on each field in the db - skip name birthday and blank values
								- unless field.label == "Name" or field.label == "Birthday" or field.label == "Phone number" or field.label == "Phone" or field.value.blank?
									%div.field{:class => "#{field.abstract_model.to_param.singularize}_#{field.name}"}
										- if (value = values[index]) || !RailsAdmin::config.compact_show_view
											%div.label= field.label
											%div.value= value || ' - '
								- else
									- if field.value.blank?
										/do nothing - dont show anything if the field is blank
									-elsif field.label == "Name"
										/ we make the name big and badass
										%h1{:style => "font-size:60px;letter-spacing: -1px;line-height: 1;"}
											= field.value
									-elsif field.label == "Birthday"
										/ birthday calculates the age and shows that instead
										%div.field{:class => "#{field.abstract_model.to_param.singularize}_#{field.name}"}
											- if (value = values[index]) || !RailsAdmin::config.compact_show_view
												%div.label Age
												%div.value= calculate_animal_age(@object.birthday)
									-elsif field.label == "Phone number"
										/ format pretty phone numbers
										%div.field{:class => "#{field.abstract_model.to_param.singularize}_#{field.name}"}
											- if (value = values[index]) || !RailsAdmin::config.compact_show_view
												%div.label= field.label
												%div.value= number_to_phone(@object.phone_number, :area_code => true)
									-elsif field.label == "Phone"
										/ format pretty phone numbers
										%div.field{:class => "#{field.abstract_model.to_param.singularize}_#{field.name}"}
											- if (value = values[index]) || !RailsAdmin::config.compact_show_view
												%div.label= field.label
												%div.value= number_to_phone(@object.phone, :area_code => true)
			- unless @animal_weights.blank?
				/if we have animal weights - graph them
				= render :partial => "animal_weight_graph", :object => @animal_weights
			- else 
				-  if @object.respond_to?('image_file_name')
					.fieldset.showAnimalInfo
						:css
							#holder {
								height: 20px;
								margin: 0px 0 0 0px;
								width: 550px;
							}
						#holder.clearfix
						%br
						%a{:id => "animal-weight-popup", :href => "#"} Add Animal Weight
			#popUpForm{:title => "Add Animal Weight", :style => "display:none"}
				%h2.title Create animal weight
				- form_tag("/admin/animal_weights", :method => "post", :class => "form", :enctype => "multipart/form-data", :remote => true, :id => "animal_weight_form") do
					#animal_weight_weight_field.field.animal_weight_weight
						%label{:for => "animal_weight_weight"} Weight
						%input#animal_weight_weight.integer{:name => "animal_weight[weight]", :size => "30", :type => "text", :value => ""}
					#animal_weight_date_of_weight_field.field.animal_weight_date_of_weight
						%label{:for => "animal_weight_date_of_weight"} Date of weight
						%input#animal_weight_date_of_weight.datetime{:name => "animal_weight[date_of_weight]", :size => "30", :style => "display: none;", :type => "text", :value => "November 09, 2011 00:00"}
					%input{:id => "animal_weight_org_id", :type => "hidden", :name => "animal_weight[organization_id]", :value => current_user.organization_id}
					%input{:value => @object.id, :id => "animal_weight_animal_id", :type => "hidden", :name => "animal_weight[animal_id]"}
					%br
					%button{:type => "submit", :class => "button", :id => "remote_form_submit"}Add Animal Weight
		-  if @object.respond_to?('password') and current_user.id == @object.id 
			/ on the user page show the wordpress account form
			= render :partial => "wordpress_form", :object => @object
			= render :partial => "adopt_a_pet_form", :object => @object