<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<a class="btn" href="/admin/statuses/new"><i class="icon-plus"></i>Add New Status</a>
				</div>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<col><col><col><col><col><col><col><col>
			<thead>
				<tr>
					<th><%= sort_link @search, :status %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @statuses.each do |status| %>
					<tr>
						<td><a href="/admin/statuses/<%= status.id %>"><%= status.status %></a></td>
						<td>
							<div class="btn-group">
								<a class="btn tooltip-class" href="/admin/statuses/<%= status.id %>" rel="tooltip" title="View Status"><i class="icon-eye-open"></i></a>
								<% if can? :destroy, status %>
									<%= link_to raw("<i class='icon-remove'></i>"), admin_statuses_path(status),
									            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tooltip-class", :rel => "tooltip", :title => "Delete" %>
								<% end %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @statuses %>
	</div>
</div>
