<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<a class="btn btn-primary btn-rad btn-trans" href="/admin/statuses/new"><i class="fa fa-plus"></i>Add New Status</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat">
			<table class="no-border">
				<col><col><col><col><col><col><col><col>
				<thead class="no-border">
					<tr>
						<th><%= sort_link @search, :status %></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="no-border-x no-border-y">
					<% @statuses.each do |status| %>
						<tr>
							<td><a href="/admin/statuses/<%= status.id %>"><%= status.status %></a></td>
							<td>
								<div class="btn-group">
									<a class="btn tipster" href="/admin/statuses/<%= status.id %>" title="View Status"><i class="fa fa-eye"></i></a>
									<% if can? :destroy, status and status.animals.blank? %>
										<%= link_to raw("<i class='fa fa-remove'></i>"), admin_status_path(status),
										            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tipster", :title => "Delete" %>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @statuses, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>
