<div class="row-fluid">
	<div class="span12 main-app-row">
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<h1><%= best_in_place @status, :status, :type => :input, :nil => "Click me to add content!", :path => admin_status_path %></h1>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="tabbable span4 ">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Animals</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<% @animals.each do |animal| %>
								<p><a href="/admin/animals/<%= animal.id %>-<%= animal.uuid %>"><%= animal.name %></a></p>
							<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript_footer do %>
	<script type="text/javascript">
		//setup juggernaut to handle real time updating page changes
		//this one handles changes made with best in place
		var jug = new Juggernaut({
			secure: true,
			host: 'juggernaut-hospitium2.herokuapp.com',
			port: 443,
			transports: ['xhr-polling','jsonp-polling']
		});

		jug.subscribe("/observer/status/<%= @status.id %>", function(data){
			var updated_text = "There was an update, but a problem displaying. Please refresh."
			jQuery.each(data.record, function(i, val) {
				if (i != "updated_at"){
					updated_text = val[1];
					if ($("#best_in_place_status_<%= @status.id %>_"+i).attr("data-collection") !== undefined) {
						var brand = $('#best_in_status_weight_<%= @status.id %>_'+i).attr("data-collection");
						var test = $.parseJSON(brand);
						$.each(test, function(index, value) {
							if(value[0] == val[1]){
								updated_text = value[1];
							}
						});
					} else {
					    //do nothing
					}
					$('#best_in_place_status_<%= @status.id %>_'+i).css("background-color","#c7f464");
					$('#best_in_place_status_<%= @status.id %>_'+i).html(updated_text);
					$('#best_in_place_status_<%= @status.id %>_'+i).delay(1500).animate({backgroundColor: "#f5f5f5"}, 1000 );
				}
			});
		});
	</script>
<%end%>
