<div class="block-flat clearfix">
	<div class="page-header">
  	<h1>Hospitium Blog!</h1>
	</div>
	<p style="text-align:right;"><a class="btn btn-success btn-large js-pjax" href="/users/sign_up">Try It Now &raquo;</a></p>
</div>

	<ul class="unstyled col-sm-12 col-md-12 col-lg-12">
		<% @posts.each do |post| %>
			<li class="block-flat singleAnimalAdoption clearfix" style="list-style: none;">
				<h1><%= link_to post.title, post_path(post) %></h1>
				<strong><%= post.author %> posted on <%= post.created_at.strftime("%m-%d-%Y") %></strong>
				<hr />
				<p><%= unsafe_markdown(truncate(post.content, :length => 140)) %> <%= link_to 'Read More', post_path(post) %></p>
			</li>
		<% end %>
		<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
	</ul>

	<% set_meta_description("Find out the latest news and other goodness from Hospitium's blog.") %>
	<% set_meta_keywords("adopt,animal,pets") %>
	<% set_head_title("Blog") %>