<p id="notice"><%= notice %></p>

<p>
  <b>Uuid:</b>
  <%= @note.uuid %>
</p>

<p>
  <b>Note:</b>
  <%= @note.note %>
</p>

<p>
  <b>Animal:</b>
  <%= @note.animal %>
</p>

<p>
  <b>User:</b>
  <%= @note.user %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
