
	<div class="hero-unit clearfix">
		<div class="page-header">
			<%= gravatar_image_tag("#{@organization.email}", :alt => "#{@organization.email}", :gravatar => { :size => 100 }, :style => "vertical-align:bottom;padding:5px 5px 7px 0px") %>
			<h1 style="display:inline;"><%= @organization.name %></h1>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-5">
			<div class="otherAnimalInfo">
				<h2>Contact Info</h2>
				<%= markdown("Website: #{@organization.pretty_website}") %>
				<%= markdown("Email: #{@organization.email}") %>
				<p>Phone Number: <%= number_to_phone(@organization.phone_number, :area_code => true) %></p>
				<p>Address: <%= @organization.full_address %></p>
				<h2>Animals For Adoption</h2>
				<ul>
					<% @animals.each do |animal| %>
						<li><a href="/animals/<%= animal.id %>"><%= animal.name %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-7">
			<div id="map_canvas" style="min-height:400px;width:100%;"></div>
		</div>
	</div>
	<p id="notice"><%= notice %></p>

<br /><br />
<p style="font-size:13px;">
All information listed here is contributed by our members. Hospitium is not responsible for its contents. We assume in good faith that all Organizations are in good legal standing to adopt animals.
</p>
<% set_meta_description("#{@organization.name}: #{@organization.website}, #{@organization.phone_number}") %>
<% set_meta_keywords("adopt,animal,pets") %>
<% set_head_title("#{@organization.name}") %>
<% content_for :title, "#{@organization.name} - Hospitium" %>
<title><%= yield (:title) %></title>

<% content_for :javascript_footer do %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" nonce=<%= content_security_policy_nonce(:script) %>>
		google_map('<%= @organization.full_address %>', '<%= @organization.name %>');
	</script>
<% end %>
