<h1>Listing animal_sexes</h1>

<table>
  <tr>
    <th>Sex</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @animal_sexes.each do |animal_sex| %>
  <tr>
    <td><%= animal_sex.sex %></td>
    <td><%= link_to 'Show', animal_sex %></td>
    <td><%= link_to 'Edit', edit_animal_sex_path(animal_sex) %></td>
    <td><%= link_to 'Destroy', animal_sex, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Animal sex', new_animal_sex_path %>
