<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<a class="btn btn-primary btn-rad btn-trans" href="/admin/users/new"><i class="fa fa-plus tipster" title="Add New"></i><span class="hidden-xs hidden-sm"> Add New User</span></a>

		<a class="btn btn-primary btn-rad btn-trans pull-right" data-toggle="modal" href="#myModal" ><i class="fa fa-search tipster" title="Search"></i><span class="hidden-xs hidden-sm"> Advanced Search</span></a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="block-flat">
			<table class="no-border">
				<col><col><col><col><col><col><col><col>
				<thead class="no-border">
					<tr>
						<th><%= sort_link @search, :username %></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="no-border-x no-border-y">
					<% @users.each do |user| %>
						<tr>
							<td><a href="/admin/users/<%= user.id %>"><%= user.username %></a></td>
							<td>
								<div class="btn-group">
									<a class="btn tipster" href="/admin/users/<%= user.id %>" title="View Contact"><i class="fa fa-eye"></i></a>
									<% if can? :destroy, user %>
										<%= link_to raw("<i class='fa fa-remove'></i>"), admin_user_path(user),
										            :data => {:confirm => 'Are you sure you want to delete?'}, :method => :delete, :class => "btn tipster", :title => "Delete" %>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>

<div class="modal colored-header" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3>Advanced Search</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<%= search_form_for @search, :url => admin_users_path, :html => { :class => "form-vertical"} do |f| %>
					<div class="form-group">
						<%= f.label :username_cont %>
						<%= f.text_field :username_cont, :class => "form-control" %>
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
