<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 main-app-row">
		<div class="block-flat profile-info">
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-1">
					<div class="avatar">
						<%= gravatar_image_tag("#{@user.email}", :alt => "#{@user.email}", :gravatar => { :size => 130 }, :class => "profile-avatar") %>
					</div>
				</div>
				<div class="col-sm-10 col-md-10 col-lg-11">
					<div class="personal">
						<% if can? :update, @user %>
							<h1><%= best_in_place @user, :username, :type => :input, :nil => "Click me to add content!", :path => admin_user_path %></h1>
						<% else %>
							<h1><%= @user.username %></h1>
						<% end %>

						<% if can? :set_role, @user %>
							<span class="admin_user_check"><%= best_in_place @user, :permissions, :type => :select, :collection => [[0, "Standard"], [1, "Admin"]], :path => user_role_admin_user_path(@user), :nil => @user.roles.first.name %></span>
						<% else %>
							<%= @user.roles.first.name %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="tabbable col-sm-6 col-md-6 col-lg-6 ">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#1" data-toggle="tab">Details</a></li>
					<% if can? :update, @user %>
						<li><a href="#2" data-toggle="tab">Accounts</a></li>
					<%end%>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="1">
						<div class="">
							<% if can? :update, @user %>
								<p><strong>Email:</strong> <%= best_in_place @user, :email, :type => :input, :nil => "Click me to add content!", :path => admin_user_path %></p>
							<% else %>
								<p><strong>Email:</strong> <%= @user.email %></p>
							<% end %>

							<% if current_user.id == @user.id %>
								<p class="user-token"><strong>API Token:</strong> <code><%= @user.authentication_token %></code></p>
							<% end %>

							<% if can? :update, @user %>
								<hr />
								<a class="btn" data-toggle="modal" href="#editPass" ><i class="fa fa-pencil"></i> Change Password</a>
							<% end %>

							<% if current_user.id == @user.id %>
								<a class="btn" href="/admin/users/<%= current_user.id %>/reset_token" ><i class="fa fa-refresh"></i> Reset Token</a>
							<% end %>
						</div>
					</div>
					<div class="tab-pane" id="2">
						<% if @user.adopt_a_pet_accounts.first.blank? %>
							<% if can? :update, @user %>
								<a class="btn" data-toggle="modal" href="#adopt_a_pet" ><i class="fa fa-plus"></i> Add Adopt-A-Pet Account</a>
								<hr />
							<% end %>
						<%else%>
							<p><a href="/admin/adopt_a_pet_accounts/<%= @user.adopt_a_pet_accounts.first.id %>" class="tooltip-class" data-confirm="Are you sure you want to delete?" data-method="delete" rel="tooltip nofollow" data-original-title="Delete"><i class="fa fa-remove"></i></a> <strong>Adopt-A-Pet Account:</strong> <%= @user.adopt_a_pet_accounts.first.user_name %></p>
							<a class="btn" data-toggle="modal" href="#adopt_a_pet-edit" ><i class="fa fa-pencil"></i> Edit Adopt A Pet Account</a>
							<hr />
						<%end%>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 map-block">
						<div class="block-transparent">
						  <div class="header">
						    <h2>Recent Activity</h2>
						  </div>
						  <ul class="timeline">
						    <% @activities.each do |activity| %>
						      <li>
						        <i class="<%= public_activity_icon(activity.key.split(".").last) %>"></i>
						        <span class="date"><%= activity.created_at.strftime("%d %b") %></span>
						        <div class="content">
						          <p><strong><%= gravatar_image_tag("#{activity.parameters[:author_email]}", :alt => "#{activity.parameters[:author_email]}", :gravatar => { :size => 25 }) %> <%= activity.parameters[:author_name] %></strong> has <%= past_tense_actions(activity.key.split(".").last) %> <%= indefinite_articlerize(activity.trackable_type.underscore.humanize(capitalize: false) ) %>:</p>
						          <blockquote>
						            <% if activity.key.split(".").last == 'update' %>
						              <% activity.parameters[:summary].each do |update_key, update_value| %>
						                <% unless update_key == 'updated_at' %>
						                  <p><%= activity.parameters[:object_name] %> had <%= update_key %> changed from <em><%= update_value.first %></em> to <em><%= update_value.last %></em></p>
						                <% end %>
						              <% end %>
						            <% elsif activity.key.split(".").last == 'create' %>
						              <p><%= activity.parameters[:object_name] %> was created.</p>
						            <% elsif activity.key.split(".").last == 'destroy' %>
						              <p><%= activity.parameters[:object_name] %> was deleted.</p>
						            <% end %>
						          </blockquote>
						        </div>
						      </li>
						    <% end %>
						  </ul>
						</div>
			</div>
		</div>
	</div>
</div>

<div class="modal colored-header" id="editPass" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3>Change Password</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<div class="progress progress-danger progress-striped active new_animal_weight_bar" style="display:none;">
					<div class="bar" style="width: 100%;"></div>
				</div>
				<p class="new_animal_weight_bar" style="display:none;">Loading...</p>
				<%= form_for @user, :url => admin_user_path, :validate => true, :html => {:id => "pass_rest_form" } do |f| %>
					<%= f.label :password, "New password" %>
					<%= f.password_field :password, :class => "form-control" %>

					<%= f.label :password_confirmation, "Confirm new password" %>
					<%= f.password_field :password_confirmation, :class => "form-control" %>
				<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" class="btn btn-primary submit-button" data-form-id="pass_rest_form">Save changes</a>
      </div>
    </div>
  </div>
</div>

<div class="modal colored-header" id="wordpress" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3>New Wordpress Account</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<%= form_for WordpressAccount.new, :url => admin_wordpress_accounts_path, :html => {:id => "new_wordpress_form"} do |f| %>
					<%= f.label :site_url %>
					<%= f.text_field :site_url, :class => "form-control" %>
					<%= f.label :blog_user %>
					<%= f.text_field :blog_user, :class => "form-control" %>
					<%= f.label :blog_password %>
					<%= f.password_field :blog_password, :class => "form-control" %>
				<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" class="btn btn-primary submit-button" data-form-id="new_wordpress_form">Save changes</a>
      </div>
    </div>
  </div>
</div>

<% unless @user.wordpress_accounts.first.blank? %>
	<div class="modal colored-header" id="wordpress-edit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
					<a class="close" data-dismiss="modal" href="#">×</a>
					<h3>Edit Wordpress Account</h3>
	      </div>
	      <div class="modal-body" style="overflow:hidden;">
					<%= form_for @user.wordpress_accounts.first, :url => admin_wordpress_account_path(@user.wordpress_accounts.first), :html => {:id => "edit_wordpress_form"} do |f| %>
						<%= f.label :site_url %>
						<%= f.text_field :site_url, :class => "form-control" %>
						<%= f.label :blog_user %>
						<%= f.text_field :blog_user, :class => "form-control" %>
						<%= f.label :blog_password %>
						<%= f.password_field :blog_password, :class => "form-control" %>
					<%end%>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <a href="#" class="btn btn-primary submit-button" data-form-id="edit_wordpress_form">Save changes</a>
	      </div>
	    </div>
	  </div>
	</div>
<%end%>

<div class="modal colored-header" id="adopt_a_pet" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<a class="close" data-dismiss="modal" href="#">×</a>
				<h3>New Adopt-A-Pet Account</h3>
      </div>
      <div class="modal-body" style="overflow:hidden;">
				<%= form_for AdoptAPetAccount.new, :url => admin_adopt_a_pet_accounts_path, :validate => true, :html => {:id => "adopt_a_pet_form"} do |f| %>
					<p>Please enter your Adopt A Pet
					<a href='http://www.adoptapet.com/shelter/pointers/about_autouploading.html' target='blank'>Auto Upload</a>
					Username, and Password. <br /></p>
					<p>This is not your normal account user and password. Please see the <a href="https://hospitium.tenderapp.com/kb/general-use/connecting-hospitium-to-adopt-a-pet" target="_blank">docs</a> for more info.</p>
					<%= f.label :user_name %>
					<%= f.text_field :user_name, :class => "form-control" %>
					<%= f.label :password %>
					<%= f.password_field :password, :class => "form-control" %>
				<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" class="btn btn-primary submit-button" data-form-id="adopt_a_pet_form">Save changes</a>
      </div>
    </div>
  </div>
</div>

<% unless @user.adopt_a_pet_accounts.first.blank? %>
	<div class="modal colored-header" id="adopt_a_pet-edit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
					<a class="close" data-dismiss="modal" href="#">×</a>
					<h3>Edit Adopt-A-Pet Account</h3>
	      </div>
	      <div class="modal-body" style="overflow:hidden;">
					<%= form_for @user.adopt_a_pet_accounts.first, :url => admin_adopt_a_pet_account_path(@user.adopt_a_pet_accounts.first), :html => {:id => "edit_adopt_a_pet_accounts_form"} do |f| %>
						<p>Please enter your Adopt A Pet
						<a href='http://www.adoptapet.com/shelter/pointers/about_autouploading.html' target='blank'>Auto Upload</a>
						Username, and Password.<br /></p>
						<p>This is not your normal account user and password. Please see the <a href="https://hospitium.tenderapp.com/kb/general-use/connecting-hospitium-to-adopt-a-pet" target="_blank">docs</a> for more info.</p>
						<%= f.label :user_name %>
						<%= f.text_field :user_name, :class => "form-control" %>
						<%= f.label :password %>
						<%= f.password_field :password, :class => "form-control" %>
					<%end%>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <a href="#" class="btn btn-primary submit-button" data-form-id="edit_adopt_a_pet_accounts_form">Save changes</a>
	      </div>
	    </div>
	  </div>
	</div>
<%end%>



<% content_for :javascript_footer do %>
	<script type="text/javascript">
		// Trigger juggernaut
		juggernaut_listen('<%= @user.id %>', 'user');
	</script>
<%end%>
