<div class="cl-sidebar">
  <div class="cl-toggle"><i class="fa fa-bars"></i></div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content">
        <!--LOGO-->
        <div class="sidebar-logo">
          <div class="logo">
              <a class="brand" href="/" style="padding:2px 20px 0px 0px;font-weight:100;"><%= image_tag("hos.svg", width: '35px', height: '35px', style: 'vertical-align:bottom;') %>Hospitium</a>
          </div>
        </div>
        <div class="side-user">
        <!-- User progress bar-->
        </div>
        <div class="visible-xs-block">
          <ul class="cl-vnavigation">
            <% if user_signed_in? %>
              <li class="parent">
                <a href="#"><%= gravatar_image_tag("#{current_user.email}", :alt => "#{current_user.email}", :gravatar => { :size => 50 }) %><span><%= current_user.username %></span></a>
                <ul class="sub-menu">
                  <li><a href="/admin">Dashboard</a></li>
                  <li><a href="/admin/users/<%= current_user.id %>">User Settings</a></li>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class="divider-vertical"></li>
              <li><a href="/users/sign_in">Sign In</a></li>
            <% end %>
            <li><a href="/why-hospitium">Why Hospitium</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="https://hospitium.tenderapp.com/kb">Docs</a></li>
            <li><a href="/animals">Adopt an Animal</a></li>
            <li><a href="/posts">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
