<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--[if lt IE 8]>
	<script type="text/javascript"> 
		/*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; } 
		var IE6UPDATE_OPTIONS = {
			icons_path: "/ie6update/images/"
		}
	</script>
	<script type="text/javascript" src="/ie6update/ie6update.js"></script>
	<![endif]-->
	<meta name="author" content="Travis Berry">
	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <title>Animal Shelter Management Software | Hospitium</title> -->
	<%= stylesheet_link_tag :all %>
	<%= csrf_meta_tag %>
	<!--<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">-->
  <%= meta_description("")%>
  <%= meta_keywords("")%>
  <%= head_title("Hospitium")%>
</head>
<body>
	<noscript>
			For full functionality of this site it is necessary to enable JavaScript.<br />
			Here are the <a href="http://www.enable-javascript.com/" target="_blank">
			instructions how to enable JavaScript in your web browser</a>.
	</noscript>

	
	<a href="https://github.com/ninetwentyfour/Hospitium"><img style="position: fixed; top: 0; left: 0; border: 0; z-index:11000;" src="https://a248.e.akamai.net/assets.github.com/img/6429057dfef9e98189338d22e7f6646c6694f032/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>

<div class="topbar">
  <div class="fill">
    <div class="container">
      <h3><a href="/">Hospitium</a></h3>
      <ul class="nav">
        <li><a href="/about">About</a></li>
				<li><a href="/features">Features</a></li>
				<li><a href="https://hospitium.tenderapp.com/kb">Docs</a></li>
				<li><a href="/animals">Adopt an Animal</a></li>
				<li><a href="/posts">Blog</a></li>
      </ul>
			<ul class="nav secondary-nav">
				<% if user_signed_in? %>
					<li><a href="/admin">Admin</a></li>
					<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><a href="/users/sign_in">Sign In</a></li>
				<% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">

	<%= yield %>

  <footer>
    <p>Created by <a href="http://www.applewoodrescue.org/">Apple Wood Rescue</a> | <a href="/privacy-and-terms-of-service">Privacy & Terms</a> | <a href="mailto:contact@hospitium.co">contact@hospitium.co</a> | <a href="http://twitter.com/#!/hospitium_app">@hospitium_app</a></p>
  </footer>

</div> <!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<%= javascript_include_tag "rails.min.js" %>

<%= javascript_include_tag "jquery.nivo.slider.pack.js" %>
<script type="text/javascript">
$(window).load(function() {
    //$('#slider').nivoSlider();
$('#slider').attr("style", "float:right;visibility:visible;");
//$('#slider').jqFancyTransitions({ width: 560, height: 290 });
$('#slider').nivoSlider({
    effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
    slices: 8, // For slice animations
    boxCols: 6, // For box animations
    boxRows: 4, // For box animations
    animSpeed: 1000, // Slide transition speed
    pauseTime: 4500, // How long each slide will show
    startSlide: 0, // Set starting Slide (0 index)
    directionNav: false, // Next & Prev navigation
    directionNavHide: true, // Only show on hover
    controlNav: false, // 1,2,3... navigation
    controlNavThumbs: false, // Use thumbnails for Control Nav
    controlNavThumbsFromRel: false, // Use image rel for thumbs
    controlNavThumbsSearch: '.jpg', // Replace this with...
    controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
    keyboardNav: false, // Use left & right arrows
    pauseOnHover: false, // Stop animation while hovering
    manualAdvance: false, // Force manual transitions
    captionOpacity: 1, // Universal caption opacity
    prevText: '', // Prev directionNav text
    nextText: '', // Next directionNav text
});
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25908952-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
