<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--[if lt IE 8]>
	<script type="text/javascript"> 
		/*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; } 
		var IE6UPDATE_OPTIONS = {
			icons_path: "/ie6update/images/"
		}
	</script>
	<script type="text/javascript" src="/ie6update/ie6update.js"></script>
	<![endif]-->
	<%= canonical_link_tag %>
	<meta name="author" content="Travis Berry">
	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag "nivo-slider" %>
	<%= stylesheet_link_tag "scaffold" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "twitter" %>
	<link href='https://fonts.googleapis.com/css?family=Cabin:700|Maven+Pro' rel='stylesheet' type='text/css'>

	<style>
	html, p, body{
		font-family: 'Maven Pro', sans-serif !important;
	}
	h1,h2,h3,h4,h5,h6{
		font-weight:700;
		font-family: 'Cabin', sans-serif !important;
	}
	p{
		font-size:14px;
		line-height:1.45em;
		font-weight:400;
	}
	.otherAnimalInfo p{
		font-size:14px;
		line-height:1em !important;
	}
	</style>
	<%= yield :head %>
	<%= csrf_meta_tag %>
  <%= meta_description("")%>
  <%= meta_keywords("")%>
  <%= head_title("Hospitium")%>
</head>
<body>
	<noscript>
			For full functionality of this site it is necessary to enable JavaScript.<br />
			Here are the <a href="http://www.enable-javascript.com/" target="_blank">
			instructions how to enable JavaScript in your web browser</a>.
	</noscript>

	
	<!-- <a href="https://github.com/ninetwentyfour/Hospitium"><img style="position: fixed; top: 0; left: 0; border: 0; z-index:11000;" src="https://a248.e.akamai.net/assets.github.com/img/6429057dfef9e98189338d22e7f6646c6694f032/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a> -->

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Hospitium</a>
      <ul class="nav">
        <li><a href="/about">About</a></li>
				<li><a href="/features">Features</a></li>
				<li><a href="https://hospitium.tenderapp.com/kb">Docs</a></li>
				<li><a href="/animals">Adopt an Animal</a></li>
				<li><a href="/posts">Blog</a></li>
      </ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li><a href="/admin"><%= gravatar_image_tag("#{current_user.email}", :alt => "#{current_user.email}", :gravatar => { :size => 25 }, :style => "position:absolute;top:7px") %> <span style="margin-left:30px">Admin</span></a></li>
					<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><a href="/users/sign_in">Sign In</a></li>
				<% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container main-container">

	<%= yield %>

  <footer>
    <p><a href="/privacy-and-terms-of-service">Privacy & Terms</a> | <a href="mailto:contact@hospitium.co">contact@hospitium.co</a> | <a href="http://twitter.com/#!/hospitium_app">@hospitium_app</a> | <a href="https://github.com/ninetwentyfour/Hospitium">Fork me on GitHub</a></p>
  </footer>

</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<%= javascript_include_tag "rails.min.js" %>
<%= yield :javascript_footer %>
<script type="text/javascript">
	var _gaq=[['_setAccount','UA-25908952-1'],['_trackPageview'],['_trackPageLoadTime']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
